<div id="create-cluster">
    <div class="create-instance-form">
        <form [formGroup]="clusterForm" [grid]="{label: 'ui-g-2', content:'ui-g-20'}" [errorMessage]="errorMessage">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <h3>General Configuration</h3>
                <div class="ui-grid-col-9 line"></div>
                <div class="interval" >
                    <form-item label="Cluster name" [required]="true">
                        <input pInputText type="text" formControlName="clusterName">
                        <p-checkbox *ngIf="false" class="text-only" label="Logging" formControlName="logChecked" name="logging" value="true" (onChange)="checkLog()"></p-checkbox>
                        <div *ngIf="showFolder">S3 folder</div>
                    </form-item>
                    <form-item label="Access Key" [required]="true">
                        <input pInputText type="text" id="name" name="ak" formControlName="ak">
                    </form-item>
                    <form-item label="Secret Key" [required]="true">
                        <input pInputText type="password" id="password" name="sk" formControlName="sk">
                    </form-item>
                    <form-item label="Region" [required]="true"> 
                        <input pInputText type="text" id="region" name="region" formControlName="region">
                    </form-item>
                </div>
                <form-item label="Lauch mode" [required]="true">
                    <p-radioButton *ngIf="false" label="Cluster" formControlName="launchMode" name="typeRadioGroup" value="Cluster"></p-radioButton>
                    <p-radioButton label="execution" formControlName="launchMode" name="typeRadioGroup" value="execution"></p-radioButton>
                </form-item>
                <div *ngIf="!showCluster">
                    <div>
                        <h3>Add steps</h3>
                        <div class="ui-grid-col-9 line"></div>
                        <div class="ui-grid-row interval">
                            <div class="ui-grid-col-8">A step is a unit of work submitted to an application running on your EMR cluster. EMR programmatically
                                installs the applications needed to execute the added steps.</div>
                        </div>
                    </div>
                    <form-item label="Step type">
                        <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            <p-dropdown [options]="stepTypes" formControlName="stepType" placeholder="please select" (onChange)="typeChange()"></p-dropdown>
                        </div>
                        <div class="ui-grid-col-4" style="margin-left: auto">
                            <button pButton type="button" [disabled]="configureDisabled" (click)="selectedFileOnChanged()" label="Configure"></button>
                        </div>
                    </div>
                    </form-item>
                </div>
                <div>
                    <h3>Software Configuration</h3>
                    <div class="ui-grid-col-9 line"></div>
                    <div class="interval">
                        <form-item label="Release" [required]="true">
                            <p-dropdown [options]="releases" formControlName="releaseLabel" placeholder="please select"></p-dropdown>
                        </form-item>
                    </div>
                    <form-item label="Applications" [required]="true">
                        <div class="ui-grid-col-8" *ngIf="showCluster">
                            <div calss="text-only">
                                <p-radioButton label="{{applicationsLabel.hadoop}}" formControlName="application" name="typeRadio"
                                value="hadoop"></p-radioButton>
                            </div>
                            <div class="top">
                                <p-radioButton label="{{applicationsLabel.hbase}}" formControlName="application" name="typeRadio"
                                value="hbase"></p-radioButton>
                            </div>
                            <div class="top">
                                <p-radioButton label="{{applicationsLabel.presto}}" formControlName="application" name="typeRadio"
                                value="presto"></p-radioButton>
                            </div>
                            <div class="top">
                                <p-radioButton label="{{applicationsLabel.spark}}" formControlName="application" name="typeRadio"
                                value="spark"></p-radioButton>
                            </div>
                        </div>
                        <div *ngIf="!showCluster" class="text-only">Hadoop 2.8.5</div>
                    </form-item>
                </div>
                <div>
                    <h3>Hardware configuration</h3>
                    <div class="ui-grid-col-9 line"></div>
                    <div class="interval">
                        <form-item label="Master instance type" [required]="true">
                            <p-dropdown [options]="masterInstanceTypes" formControlName="masterInstanceType" placeholder="please select" ></p-dropdown>
                        </form-item>
                        <form-item label="Slave instance type" *ngIf="showSlaveType">
                            <p-dropdown [options]="slaveInstanceTypes" formControlName="slaveInstanceType" placeholder="please select"></p-dropdown>
                        </form-item>
                    </div>
                    <form-item label="Number of instances" required="false">
                        <div style="display:inline-block">
                            <p-spinner formControlName="instanceCount" [min]="1" (onBlur)="instanceCountChange()"></p-spinner>
                        </div>
                        <span>1 master and {{nodesCount}} slave nodes</span>
                    </form-item>
                </div>
                <div>
                    <h3>Security and access</h3>
                    <div class="ui-grid-col-9 line"></div>
                    <div *ngIf="showCluster" class="interval">
                        <form-item label="EC2 key pair" [required]="false">
                            <p-dropdown [options]="keyOptions" formControlName="keyPair"></p-dropdown>
                        </form-item>
                    </div>
                    <div class="interval">
                        <form-item label="Permissions" [required]="true">
                            <p-radioButton label="Default" formControlName="permission" name="RadioGroup" value="Default">
                            </p-radioButton>
                            <span calss="permission" *ngIf="false">
                                <p-radioButton label="Clustom" formControlName="permission" name="RadioGroup" value="Clustom">
                                </p-radioButton>
                            </span>
                            <div class="ui-grid-row top">
                                <div class="ui-grid-col-8" *ngIf="showDefaultPermission">Use default IAM roles. If roles are not present, they will be
                                    automatically created for you with managed policies for automatic policy updates.</div>
                                <div *ngIf="!showDefaultPermission">Select custom roles to tailor permissions for your cluster.</div>
                            </div>
                        </form-item>
                    </div>
                    
                    <form-item label="EC2 instance profile" [required]="true">
                        <p-dropdown [options]="jobFlowRoles" formControlName="jobFlowRole" placeholder="please select"></p-dropdown>
                    </form-item>
                    <form-item label="EMR role" [required]="true">
                        <p-dropdown [options]="serviceRoles" formControlName="serviceRole" placeholder="please select"></p-dropdown>
                    </form-item>
                </div>
            </div>
        </form>
    </div>

    <p-dialog styleClass="upload-dialog" header="Add step" [(visible)]="showConfigure" [width]="650" modal="modal">
        <form [grid]="{label: 'ui-g-4', content:'ui-g-20'}" [formGroup]="setConfigureForm" [errorMessage]="errorMessage">
            <form-item label="Step type">
                <div class="text-only">{{stepName}}</div>
            </form-item>
            <form-item label="Name" [required]="true">
                <input class="text-only" type="text" formControlName="name">
            </form-item>
            <form-item label="JAR location" [required]="true">
                <input class="text-only" type="text" formControlName= "location">
            </form-item>
            <form-item label="Arguments">
                <textarea [rows]="5" [cols]="48" pInputTextarea formControlName="arguments"></textarea>
            </form-item>
            <form-item label="Action on failure">
                <p-dropdown [options]="actions" formControlName="action" [style]="{'min-width':'150px'}"></p-dropdown>
            </form-item>
            <div class="ui-grid-row submit">
                <button pButton class="ui-button-secondary" label="Add" (click)="onSubmitConfigure()"></button>             
                <button pButton label="{{I18N.keyID['cancel']}}" (click)="showConfigure = false"></button>
            </div>
        </form>
    </p-dialog>   
</div>