<div class="content-header">
    <h1>Storages</h1>
    <p>SODA Infrastructure Manager.</p>
</div>
<p-table #dt [value]="allStorages" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Vendor</th>
            <th>Capacity (Used / Total)</th>
            <th>Free Capacity</th>
            <th>Updated At</th>
            <th>Created At</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-storage>
        <tr>
            <td>{{storage.name}}</td>
            <td>{{storage.model}}</td>
            <td>{{storage.vendor}}</td>
            <td>{{storage.used_capacity}}/{{storage.total_capacity}}</td>
            <td>{{storage.free_capacity}}</td>
            <td>{{storage.updated_at ? (storage.updated_at | date:'long') : '--'}}</td>
            <td>{{storage.created_at ? (storage.created_at | date:'long') : '--'}}</td>
        </tr>
    </ng-template>
</p-table>