<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile *ngFor="let project of projects;">
        <mat-card class="project-list">
            <mat-card-header>
              <mat-card-title>
                <img width="100%" src="{{project.logo}}">
              </mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="inline-text">
                    {{project.shortDescription}}
                </div>
                <div class="inline-text">
                    {{project.description}}
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button style="float:right;" mat-raised-button color="primary" (click)="navigateTo(project.name)">Architecture and Demo</button>
                <button style="float:right;" mat-raised-button color="primary">Install {{project.name}}</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
