<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div>
    <div class="table-toolbar">
        <div>Public access</div>
        <div class="right">
            <button  class="" pButton type="button" (click)="getAclList()" icon="fa-refresh"></button>
        </div>
    </div>
    <p-tabView styleClass="ui-tabview-large">
        <div class="content-owner">
            
            <p-dataTable [value]="cols">
                <p-column [style]="{'width': '60px'}"></p-column>
                <p-column header="Group">
                    <ng-template pTemplate="body" let-aksk="rowData" let-i="rowIndex">
                        <span>
                            Everyone
                        </span>
                    </ng-template>
                </p-column>
                <p-column header="Read">
                    <ng-template pTemplate="body" let-aksk="rowData" let-i="rowIndex">
                        <p-checkbox label="yes" value="read" name="choose" [(ngModel)]="checkBoxArr"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column header="Write">
                    <ng-template pTemplate="body" let-aksk="rowData" let-i="rowIndex">
                        <p-checkbox  label="yes" value="write" name="choose" [(ngModel)]="checkBoxArr"></p-checkbox>
                    </ng-template>
                </p-column>
                <p-column header="Operation">
                    <ng-template pTemplate="body" let-aksk="rowData" let-i="rowIndex">
                            <button  class="ui-button-secondary" (click)="onSubmit()" pButton type="button"  label="Save"></button>
                            <button class="ui-button-secondary" (click)="getAclList()" pButton type="button" label="Cancel"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </p-tabView>
</div>