<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div id="config-component" class="content-header" *ngIf="isAdministrator">
  <div class="page-header">
    <div class="page-title">Monitor Configuration</div>
    <div class="page-subtitle">You can configure Prometheus, Alert manager and Node Exporter here. To modify, download the existing configuration, make your changes and then upload again.</div>
  </div>
  
  <p-dataTable [value]="configThese" [responsive]="true">
      <p-column field="name" header="Configuration" ></p-column>
      <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width':'500px'}">
          <ng-template pTemplate="body" let-config="rowData">
            <input #fileUpload 
              type="file" 
              (click)="fileUpload.value = null"
              (change)="selectFile($event, config['type'])" 
              style="display:none"
              accept=".yaml, .yml, .ini">
            <button pButton type="button" label="Upload" icon="fa fa-upload" styleClass="ui-button-success"  (click)="fileUpload.click()"></button>
            <button pButton type="button" label="Download" icon="fa fa-download" styleClass="ui-button-info"  (click)="getFile(config['type'])"></button>
          </ng-template>
      </p-column>
  </p-dataTable>
  
</div>