<div class="home-font-color-class ui-home-container" >
    <div class="ui-home-backend-container">
        <div #svgCon>
            <svg width="240" height="64" xmlns="http://www.w3.org/2000/svg" viewBox="0,0,240,64" [ngStyle]="{'transform': 'scale('+ scaleX +', '+ scaleY +')'}">
                <g>
                    <title>Layer 1</title>
                    <path #path d="m10.5,31.5c0,-14.91713 49.00276,-27 109.49999,-27c60.49723,0 109.49999,12.08287 109.49999,27c0,14.91713 -49.00276,27 -109.49999,27c-60.49723,0 -109.49999,-12.08287 -109.49999,-27z" stroke-opacity="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null" fill-opacity="null" fill="none"/>
                </g>
            </svg>
            <div (click)="showRegister()" class="ui-home-backend-add">+</div>
            <div (click)="showBackendsDetail()" class="cloud-center" >
                <div class="ui-home-backend-count">{{allBackends_count.localBKD}}</div>
            </div>
            <div #cloud_aws class="cloud" (click)="showBackendsDetail(cloud_type[0])">
                <div class="ui-home-backend-count">{{allBackends_count.aws}}</div>
                <div class="ui-home-backend-logo">
                    <img src="assets/business/images/common/aws.svg" width="64px"/>
                </div>
                <div class="ui-home-backend-name">
                    <span>Amazon S3</span>
                </div>
            </div>
            <div #cloud_hw class="cloud" (click)="showBackendsDetail(cloud_type[1])">
                <div class="ui-home-backend-count">{{allBackends_count.huaweipri}}</div>
                <div class="ui-home-backend-logo">
                    <img src="assets/business/images/common/azure.svg"  width="64px"/>
                </div>
                <div class="ui-home-backend-name">
                    <span>Azure Storage</span>
                </div>
            </div>            
            <div #cloud_hw_p class="cloud" (click)="showBackendsDetail(cloud_type[2])">
                <div class="ui-home-backend-count">{{allBackends_count.huaweipub}}</div>
                <div class="ui-home-backend-logo">
                    <img src="assets/business/images/common/huawei.svg"  width="64px"/>
                </div>
                <div class="ui-home-backend-name">
                    <span>Huawei</span>
                </div>
            </div>
            <div #cloud_ibmcos class="cloud" (click)="showBackendsDetail(cloud_type[5])">
                <div class="ui-home-backend-count">{{allBackends_count.ibmcos}}</div>
                <div class="ui-home-backend-logo">
                    <img src="assets/business/images/common/ibm.svg"  width="64px"/>
                </div>
                <div class="ui-home-backend-name">
                    <span>IBM COS</span>
                </div>
            </div>
        </div>
        <div class="bg" #circleCon>
            <svg width="240" height="64" xmlns="http://www.w3.org/2000/svg" [ngStyle]="{'transform': 'scale('+ scaleX +', '+ scaleY +')'}">
                <use xlink:href="assets/business/images/common/opensds.svg#ic_cloud_circle" />
            </svg>
        </div>
    </div>
    <div style="display:flex;">
        <div style="flex:1;padding:20px;">
            <p-card styleClass="ui-card-shadow">
                <div class="ui-card-title">Resource</div>
                <div class="ui-home-card">
                    <div class="ui-home-card-count">
                        <div class="ui-home-card-num">{{counts.volumesCount}}</div>
                        <div class="ui-home-card-img volume"></div>
                        <div class="ui-home-card-text">Volumes</div>
                    </div>
                    <div class="ui-home-card-count">
                        <div class="ui-home-card-num">{{counts.bucketsCount}}</div>
                        <div class="ui-home-card-img bucket"></div>
                        <div class="ui-home-card-text">Buckets</div>
                    </div>
                    <div class="ui-home-card-count gray" >
                        <div class="ui-home-card-num">0</div>
                        <div class="ui-home-card-img file"></div>
                        <div class="ui-home-card-text">Filesystems</div>
                    </div>
                </div>
            </p-card>
        </div>
        <div style="flex:1;padding:20px;">
            <p-card styleClass="ui-card-shadow">
                    <div class="ui-card-title">Dataflow Quantity</div>
                <div class="ui-home-card">
                    <div class="ui-home-card-count">
                        <div class="ui-home-card-num">{{counts.migrationCount}}</div>
                        <div class="ui-home-card-img migration"></div>
                        <div class="ui-home-card-text">Migrations</div>
                    </div>
                    <div class="ui-home-card-count gray">
                        <div class="ui-home-card-num">0</div>
                        <div class="ui-home-card-img replication"></div>
                        <div class="ui-home-card-text">Replications</div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
    <p-dialog  header="Modify" [(visible)]="modifyBackendshow" [width]="600" modal="modal">
        <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="modifyBackendForm" [errorMessage]="errorMessage">
            <form-item label="Access Key" [required]="true">
                <input type="text" pInputText formControlName="ak" />
            </form-item>
            <form-item label="Secret Key" [required]="true">
                <input type="text" pInputText formControlName="sk" />
            </form-item>
        </form>
        <p-footer>
            <button type="button" pButton (click)="modifyBackend()"  label="{{I18N.keyID['ok']}}"></button>
            <button type="button" pButton (click)="modifyBackendshow = false"  label="{{I18N.keyID['cancel']}}"></button>
        </p-footer>
    </p-dialog>
</div>


<p-home-dialog header="Register Storage Backend" [(visible)]="showRegisterFlag" [width]="510" [height]="790" modal="modal" [style]="{'opacity':'0.95','right':'46px','top':'80px','background':'rgb(44,63,97)'}" >
        <form [grid]="{label: 'ui-g-5', content:'ui-g-20'}" [formGroup]="backendForm" [errorMessage]="errorMessage">
            <form-item label="Name" [required]="true">
                <input id="name" type="text" name="name" formControlName="name"  pInputText />
            </form-item>
            <form-item label="Type" [required]="true">
                <p-dropdown (onChange)="onChange($event)" [style]="{'min-width':'220px'}" placeholder="Please select" formControlName="type" [options]="allTypes"  ></p-dropdown>
            </form-item>  
            <form-item id="hide_region" label="Region" [required]="true"  [class.disabled]="isLocalCloud">
                <input id="region" type="text" name="region"  formControlName="region" [class.disabled]="isLocalCloud"  pInputText />
            </form-item>
            <form-item label="Endpoint" [required]="true">
                <input id="endpoint" type="text" name="endpoint"  formControlName="endpoint"  pInputText />
            </form-item>
            <form-item label="Bucket" [required]="true">
                <input id="bucket" type="text" name="bucket" formControlName="bucket"  placeholder="Bucket name" pInputText />
            </form-item>
            <form-item label="Access Key" [required]="true">
                <input id="accessKey" type="text" name="accessKey" formControlName="ak"  pInputText />
            </form-item>
            <form-item label="Secret Key" [required]="true">
                <input id="secretKey" type="text" name="secretKey" formControlName="sk"  pInputText />
            </form-item>
        </form>
        <div style="margin-top:100px;">
            <button type="button" class="ui-button-secondary" pButton (click)="createBackend()" label="{{I18N.keyID['ok']}}" ></button>
        </div>
</p-home-dialog>
<p-home-dialog header="Storage Backends" [(visible)]="showBackends" [width]="710" [height]="790" modal="modal" [style]="{'opacity':'0.8','right':'46px','top':'80px','background':'rgb(44,63,97)'}" >
    <p-dataTable id="home-backend-detail" [value]="typeDetail" [rows]="10">
        <p-column field="name" header="{{I18N.keyID['sds_block_volume_name']}}" ></p-column>
        <p-column field="typeName" header="Type" ></p-column>
        <p-column field="bucketName" header="Bucket"></p-column>
        <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width':'140px'}">
            <ng-template pTemplate="body" let-backend="rowData" let-i="rowIndex">
                <a (click)="configModify(backend)" style="margin-right:10px;" >Modify</a>
                <a (click)="deleteBackend(backend)">Delete</a>
            </ng-template>
        </p-column>
    </p-dataTable>
</p-home-dialog>
<p-confirmDialog></p-confirmDialog>
