@import "./../scss-variable";
.img-item-div-height {
    height: 258px;
    margin: 2em;
}

.disabled{
cursor: not-allowed;
display:none;
}
.statisBg{
    background: #f3f6f7;
    border-radius: 12px;
}

.img-item-div {
    padding: 2em;
    border-radius: 10px;
}

.home-img-item-margin {
    margin: 2em 0;
}

.user-img-item-margin {
    margin-top: 3em;
}

.header-h2-title-font {
    font-size: 2em;
    padding: 0.5em 0.25em;
}

.header-p-text {
    padding: 0 0.5em;
}

.capacity-secondary {
    margin: 1em 0;
}

.selected_obj_type {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 40px;
    border: 1px solid #f3f6f7;
    div{
        text-align: center;
        img{
            height: 40px;
            margin: 10px auto 3px;
        }
    }
}
