<div id="service-list-component">
    <div class="page-header">
        <div class="page-title">Service List</div>
        <div class="page-subtitle">
            You can create an instance of any of the services below by clicking on the create button.
        </div>
    </div>
    <div class=" ui-grid-row ui-g" style="margin-top: 25px;">
        <div class="ui-lg-1 ui-md-1 pull-right">
            <button type="button" label="Refresh" class="ui-button-secondary refresh-service-list" pButton (click)="refreshList()"  icon="fa fa-refresh" pTooltip="Refresh List" tooltipPosition="top"></button>
        </div>
    </div>
    <div class="service-category" *ngFor="let group of serviceCatalog; index as i">
        <p-panel [toggleable]="true">
            <p-header>
                {{group.groupName | titlecase}}
            </p-header>
            <div class="ui-g service-row" >
                <div class="ui-g-4" *ngFor="let item of group.services; index as i">
                    <!-- TODO FIX The Number of instances count -->
                    <p-card title="{{item.name}}" subtitle="Number of instances: {{item.instanceCount}}" styleClass="workflow-definition-card">
                        <p-header>
                        </p-header>
                        <div>{{item.description}}</div>
                        <p-footer>
                            <button pButton type="button" label="Create" icon="fa-play" class="ui-button-secondary" [routerLink]="['createInstance']" [queryParams]="{serviceId: item.id, serviceName: item.name}"></button>
                            <button pButton type="button" label="Instances" icon="fa-list" class="ui-button-primary" [routerLink]="['instanceList']" [queryParams]="{serviceId: item.id, message: msgs}" ></button>
                        </p-footer>
                    </p-card>
                </div>
            </div>
        </p-panel>
    </div>
    <div *ngIf="serviceCatalog && !serviceCatalog.length" class="service-category">
        <div class="ui-g no-data-found">
            <div class="ui-g-4 ui-g-offset-4">
                <span>No Records Found.</span>
            </div>
        </div>
    </div>
</div>

