<div id="service-list-component">
    <div class="page-header">
        <div class="page-title">Service Catalog</div>
        <div class="page-subtitle">
            Create and Manage Service Instances
        </div>
    </div>
    <div class="list-header">
        <div class="pull-right">
            <button type="button" class=" refresh-service-list" pButton (click)="refreshList()"  icon="fa fa-refresh" pTooltip="Refresh List" tooltipPosition="top"></button>
        </div>
    </div>
    <div class="service-category" *ngFor="let group of serviceCatalog; index as i">
        <p-panel [toggleable]="true">
            <p-header>
                {{group.groupName | titlecase}}
            </p-header>
            <div class="ui-g service-row" >
                <div class="ui-g-4" *ngFor="let item of group.services; index as i">
                    <p-card title="{{item.name}}" subtitle="Number of instances : {{item.instanceCount? item.instanceCount : '0'}}" styleClass="workflow-definition-card">
                        <p-header>
                        </p-header>
                        <div>{{item.description}}</div>
                        <p-footer>
                            <button pButton type="button" label="Create" icon="fa-play" class="ui-button-secondary" [routerLink]="['createInstance']" [queryParams]="{serviceId: item.id, serviceName: item.name}"></button>
                            <button pButton type="button" label="Instances" icon="fa-list" class="ui-button-primary" [routerLink]="['instanceList']" [queryParams]="{serviceId: item.id, message: msgs}" [disabled]="!item.instanceCount"></button>
                        </p-footer>
                    </p-card>
                </div>
            </div>
        </p-panel>
    </div>
    <div *ngIf="services && !services.length" class="service-category">
        <div class="ui-g no-data-found">
            <div class="ui-g-4 ui-g-offset-4">
                <span>No Services Found.</span>
            </div>
        </div>
    </div>
</div>

