<div id="instance-list">
  <div class="page-header">
      <div class="breadcrumb-container">

      </div>
      <div class="page-title">Instance List</div>
      <div class="page-subtitle">
          List of instances of the service created.
      </div>
  </div>
  <div class="table-toolbar ui-grid-row ui-g" style="margin-top: 25px;">
      <div class="ui-g-1 ui-lg-1 ui-md-1">
          <button type="button" class="ui-button-secondary" pButton (click)="refreshTable()"  icon="fa fa-refresh" pTooltip="Refresh Table" tooltipPosition="top"></button>
      </div>
  </div>
  <p-dataTable [value]="instances" [loading]="loading" loadingIcon="fa-spinner" expandableRows="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [emptyMessage]="emptymessage">
      <p-column expander="true" [style]="{'width':'22px'}"></p-column>  
      <p-column field="parameters.name" header="Name" >
        <ng-template pTemplate="body" let-instance="rowData">
            <a [routerLink]="['instanceDetails']">{{instance.parameters.name}}</a>
        </ng-template>
      </p-column>
      <p-column field="status" header="Status">
        <ng-template pTemplate="body" let-instance="rowData">
          <span>{{instance.status}}</span> <i class="icon fa fa-info-circle" pTooltip="Show the log list here" tooltipPosition="right"></i>
        </ng-template>
      </p-column>
      <p-column field="start_timestamp" header="Start Time">
        <ng-template pTemplate="body" let-instance="rowData">
          {{instance.start_timestamp | date: 'medium'}}
        </ng-template>
      </p-column>
      <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width':'500px'}">
          <ng-template pTemplate="body" let-instance="rowData">
            <button [disabled]="instance.status=='requested'" pButton type="button" label="Run" icon="fa fa-play" styleClass="ui-button-success"  (click)="startInstance()"></button>
            <button [disabled]="instance.status!='requested'" pButton type="button" label="Re-Run" icon="fa fa-repeat" styleClass="ui-button-info"  (click)="restartInstance()"></button>
            <button pButton type="button" label="Pause" icon="fa fa-pause" styleClass="ui-button-info"  (click)="pauseInstance()"></button>
            <button pButton type="button" label="Abort" icon="fa fa-exclamation-triangle" styleClass="ui-button-danger"  (click)="abortInstance()"></button>
          </ng-template>
      </p-column>
      <ng-template let-instance pTemplate="rowexpansion">
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
              <div class="ui-grid-row">
                  <div class="ui-grid-col-3" style="text-align:center">
                  </div>
                  <div class="ui-grid-col-9">
                      <div class="ui-grid ui-grid-responsive ui-grid-pad">
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Action </div>
                              <div class="ui-grid-col-10">{{instance.action.name}}</div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Action </div>
                              <div class="ui-grid-col-10">{{instance.action.name}}</div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Action </div>
                              <div class="ui-grid-col-10">{{instance.action.name}}</div>
                          </div>
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Action </div>
                              <div class="ui-grid-col-10">{{instance.action.name}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          
      </ng-template>
  </p-dataTable>
</div>


