<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div>
    <div class="table-toolbar">
        <div class="left">
            <button class="ui-button-secondary" pButton type="button" label="{{I18N.keyID['sds_common_create']}}" [routerLink]="['/createCloudVolume']"></button>
            <button pButton type="button" label="{{I18N.keyID['sds_common_delete']}}" (click)="batchDeleteVolumes(selectedVolumes)" [disabled]="selectedVolumes.length == 0"></button>
        </div>
        <div class="right">
            <div class="ui-inputsearch">
                <input type="text" #searchByName pInputText placeholder="{{I18N.keyID['sds_commmon_search']}}">
                <button pButton type="button" icon="fa-search"></button>
            </div> 
            <button class="" pButton type="button" (click)="getBackends()" icon="fa-refresh"></button>
        </div>
    </div>
    <p-dataTable [value]="allAWSVolumes" [globalFilter]="searchByName" [(selection)]="selectedVolumes" [expandableRows]="true" [showHeaderCheckbox]="true" resizableColumns="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
        <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
        <p-column selectionMode="multiple" [style]="{'width': '30px'}"></p-column>
        <p-column field="name" header="Name"></p-column>
        <p-column field="size" header="Size">
            <ng-template pTemplate="body" let-volume="rowData">
                {{volume.displaySize ? volume.displaySize : '--'}}
            </ng-template>
        </p-column>
        <p-column field="iops" header="IOPS">
            <ng-template pTemplate="body" let-volume="rowData">
                {{volume.iops ? volume.iops : '--'}}
            </ng-template>
        </p-column>
        <p-column field="type" header="Type">
            <ng-template pTemplate="body" let-volume="rowData">
                {{volume.volType}}
            </ng-template>
        </p-column>
        <p-column field="status" header="Status">
            <ng-template pTemplate="body" let-volume="rowData">
                <span> {{volume.status}} </span> <i *ngIf="volume.status=='creating' || volume.status=='updating'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </ng-template>
        </p-column>
        <p-column field="createdAt" header="Created At">
            <ng-template pTemplate="body" let-volume="rowData">
                <span>{{volume.createdAt ? (volume.createdAt | date:'long')  : '--'}}</span>
            </ng-template>
        </p-column>
        <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width': '200px'}">
            <ng-template pTemplate="body" let-volume="rowData" let-i="rowIndex">
                <p-dropmenu label="{{I18N.keyID['sds_block_volume_more']}}" [model]="volume['disabled'] ? menuDeleDisableItems: menuItems" (click)="returnSelectedVolume(volume)"></p-dropmenu>
            </ng-template>
        </p-column>
        <ng-template let-volume pTemplate="rowexpansion">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row volume-basic-item-class">
                        <div class="ui-grid-col-2">
                            {{label.name}}:
                        </div>
                        <div class="ui-grid-col-2 volume-basic-item-value-color">
                            {{volume.name}}
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.status}}:
                        </div>
                        <div class="ui-grid-col-2 volume-basic-item-value-color">
                            <span>{{volume.status? volume.status : '--'}} </span>
                            <i *ngIf="volume.status=='creating'  || volume.status=='updating'" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.createdAt}}:
                        </div>
                        <div class="ui-grid-col-3 volume-basic-item-value-color">
                            {{volume.createdAt ? (volume.createdAt | date:'long') : '--'}}
                        </div>
                        
                    </div>
                    <div class="ui-grid-row volume-basic-item-class">
                        <div class="ui-grid-col-2">
                            {{label.type}}:
                        </div>
                        <div class="ui-grid-col-2 volume-basic-item-value-color">
                            {{volume.volType}}
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.size}}:
                        </div>
                        <div class="ui-grid-col-2 volume-basic-item-value-color">
                            {{volume.displaySize}}
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.updatedAt}}:
                        </div>
                        <div class="ui-grid-col-3 volume-basic-item-value-color">
                            {{volume.updatedAt ? (volume.updatedAt | date:'long') : '--'}}
                        </div>
                        
                    </div>
                    <div class="ui-grid-row volume-basic-item-class">
                        <div class="ui-grid-col-2">
                            {{label.description}}:
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color">
                            {{ volume.description ? (volume.description | slice:0:20) : '--' }}
                            <a *ngIf="volume.description && volume.description.length > 20" pTooltip="{{volume.description}}" tooltipPosition="top">
                                ...
                            </a>
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.availabilityZone}}:
                        </div>
                        <div class="ui-grid-col-2 volume-basic-item-value-color">
                            {{volume.availabilityZone}}
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.region}}:
                        </div>
                        <div class="ui-grid-col-3 volume-basic-item-value-color">
                            {{volume.region}}
                        </div>
                    </div>
                    <div *ngIf="volume.tags && volume.tags.length" class="ui-grid-row volume-basic-item-class">
                        <div class="ui-grid-col-12">
                            {{label.tags}}:
                        </div>
                    </div>
                    <div *ngIf="volume.tags && volume.tags.length"  class="ui-grid-row volume-basic-item-class">
                        <p-dataTable [value]="volume.tags">
                            <p-column field="key" header="Key"></p-column>
                            <p-column field="value" header="Value"></p-column>
                        </p-dataTable>
                    </div>
                    <div class="ui-grid-row volume-basic-item-class">
                        <div class="ui-grid-col-12">
                            {{label.metadata}}:
                        </div>
                    </div>
                    <div class="ui-grid-row volume-basic-item-class">
                        <p-dataTable [value]="volume.metadataArr">
                            <p-column field="key" header="Key"></p-column>
                            <p-column field="value" header="Value">
                                <ng-template ptemplate="body" let-meta="rowData">
                                    {{meta.key=='CreationTimeAtBackend' ? (meta.value | date:'long') : '--'}}
                                </ng-template>
                            </p-column>
                        </p-dataTable>
                    </div>
                
            </div>
    </ng-template>
    </p-dataTable>
    <p-confirmDialog></p-confirmDialog>
</div>
