<div class="table-toolbar">
    <div class="left">
    </div>
    <div class="right">
        <div  class="ui-inputsearch">
            <input type="text" #searchAll pInputText placeholder="{{i18n.keyID['sds_block_volume_search']}}">
            <button pButton type="button" icon="fa-search"></button>
        </div>
    </div>
</div>
<p-dataTable [value]="qtreesArr" [globalFilter]="searchAll"  [lazy]="true" (onLazyLoad)="loadQtreesLazy($event)" [expandableRows]="true"  [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]" [totalRecords]="totalRecords" #spt>
    <p-column expander="true" styleClass="col-icon" [style]="{'width': '3%'}"></p-column>
    <p-column field="name" header="Name">
        <ng-template pTemplate="body" let-qtree="rowData">
            <!-- {{qtree.name}} -->
            <a (mouseenter)="showQtreeOverview($event, qtree, qtreeOverviewPanel)" (mouseleave)="showQtreeOverview($event, qtree, qtreeOverviewPanel)">{{qtree.name}}</a>
        </ng-template>
    </p-column>    
    <p-column field="security_mode" header="Security Mode">
        <ng-template pTemplate="body" let-qtree="rowData">
            <span>{{qtree.security_mode ? qtree.security_mode : '--'}}</span>
        </ng-template>
    </p-column>
    <p-column field="native_filesystem_id" header="Native Filesystem ID">
        <ng-template pTemplate="body" let-qtree="rowData">
            <span>{{qtree.native_filesystem_id ? qtree.native_filesystem_id : '--'}}           </span>
        </ng-template>
    </p-column>
    <p-column field="created_at" header="Created At">
        <ng-template pTemplate="body" let-qtree="rowData">
            <span>{{qtree.created_at ? (qtree.created_at | date:'long') : '--'}}</span>
        </ng-template>
    </p-column>
    <p-column field="updated_at" header="Updated At">
        <ng-template pTemplate="body" let-qtree="rowData">
            <span>{{qtree.updated_at ? (qtree.updated_at | date:'long') : '--'}}</span>
        </ng-template>
    </p-column>
    <ng-template let-qtree pTemplate="rowexpansion">
        <div class="details-basic-info">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-col-12">
                    <div class="ui-grid-row details-basic-item-class">
                        <div class="ui-grid-col-2">
                            {{label.name}}:
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.name}}
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.security_mode}}:
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.security_mode ? qtree.security_mode : '--'}}  
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.created_at}}:
                        </div>
                        <div class="ui-grid-col-3 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.created_at ? (qtree.created_at | date:'long') : '--'}}
                        </div>
                    
                    </div>
                    <div class="ui-grid-row details-basic-item-class">
                        <div class="ui-grid-col-2">
                            {{label.id}}:
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.id | slice:0:20}}
                            <a *ngIf="qtree.id.length > 20" pTooltip="{{qtree.id}}" tooltipPosition="top">
                                ...
                            </a>
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.native_qtree_id}}:
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.native_qtree_id | slice:0:20}}
                            <a *ngIf="qtree.native_qtree_id.length > 20" pTooltip="{{qtree.native_qtree_id}}" tooltipPosition="top">
                                ...
                            </a>
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.updated_at}}:
                        </div>
                        <div class="ui-grid-col-3 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.updated_at ? (qtree.updated_at | date:'long') : '--'}}
                        </div>
                       
                        
                    </div>
                    <div class="ui-grid-row details-basic-item-class">
                        <div class="ui-grid-col-2">
                            {{label.storage_id}}:
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.storage_id | slice:0:20}}
                            <a *ngIf="qtree.storage_id.length > 20" pTooltip="{{qtree.storage_id}}" tooltipPosition="top">
                                ...
                            </a>
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.native_filesystem_id}}:
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.native_filesystem_id ? qtree.native_filesystem_id : '--'}}
                        </div>
                        <div class="ui-grid-col-2">
                            {{label.path}}:
                        </div>
                        <div class="ui-grid-col-3 details-basic-item-value-color" *ngIf="qtree">
                            {{qtree.path ? qtree.path : '--'}}
                        </div>
                    </div>
                    <div class="ui-grid-row details-basic-item-class">
                        <div class="ui-grid-col-2">
                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                        </div>
                        <div class="ui-grid-col-2">

                        </div>
                        <div class="ui-grid-col-2 details-basic-item-value-color" *ngIf="qtree">
                            
                        </div>
                        <div class="ui-grid-col-2">
                            
                        </div>
                        <div class="ui-grid-col-3 details-basic-item-value-color" *ngIf="qtree">
                            
                        </div>
                </div>
                </div>
            </div>
        </div>
    </ng-template>    
</p-dataTable>

<p-overlayPanel styleClass="overview-panel" #qtreeOverviewPanel>
    <div class="ui-g overview-title">
        <h4>{{qtreeOverview && qtreeOverview.name}}</h4>
    </div>
    <div class="ui-g ui-g-nopad overview-item" >
        <div class="ui-g-6">
            <span class="overview-item-label">Status: </span>
        </div>
        <div *ngIf="qtreeOverview" class="ui-g-6">
            <span class="storage-status-icon" [ngClass]="{normal:  qtreeOverview && qtreeOverview.status =='normal', abnormal: qtreeOverview && qtreeOverview.status =='abnormal' || qtreeOverview.status =='unknown'}"><i class="fa fa-circle"></i></span>
            <span *ngIf="qtreeOverview && qtreeOverview.status=='normal'">Normal</span>
            <span *ngIf=" qtreeOverview && qtreeOverview.status=='abnormal' || qtreeOverview.status=='unknown'">Unknown</span>
            <span *ngIf=" qtreeOverview && qtreeOverview.status=='offline'">Offline</span>
        </div>
    </div>
    <div class="ui-g overview-item">
        <div class="ui-g-6">
            Vendor / Model
        </div>
        <div class="ui-g-6">
            {{ selectedStorageDetails && selectedStorageDetails.vendor}} {{selectedStorageDetails && selectedStorageDetails.model}}
        </div>
    </div>
    <div class="ui-g overview-item">
        <div class="ui-g-6">
            <span class="overview-item-label">
              Storage ID  
            </span>
        </div>
        <div class="ui-g-6">
            <span>
                {{ qtreeOverview && qtreeOverview.storage_id}}
            </span>
        </div>
    </div>
    <div class="ui-g overview-item">
        <div class="ui-g-6">
            <span class="overview-item-label">
              Storage Serial No.  
            </span>
        </div>
        <div class="ui-g-6">
            <span>
                {{ selectedStorageDetails && selectedStorageDetails.serial_number}}
            </span>
        </div>
    </div>
    <div class="ui-g overview-item">
        <div class="ui-g-6">
            Security Mode
        </div>
        <div class="ui-g-6">
            {{ qtreeOverview && qtreeOverview.security_mode}}
        </div>
    </div>
    <div class="ui-g overview-item">
        <div class="ui-g-6">
            Path
        </div>
        <div class="ui-g-6">
            {{qtreeOverview && qtreeOverview.path}}
        </div>
    </div>
    <div class="ui-g overview-item">
        <div class="ui-g-6">
            
        </div>
        <div class="ui-g-6">
            
        </div>
    </div>
    <hr />
</p-overlayPanel>