<div class="ui-g">
    <div class="ui-g-12 ui-md-6">
        <div class="font-primary">
            <h2>{{ data.name ? (data.name | slice:0:20) : '--' }} 
                <span *ngIf="data.name && data.name.length > 20" pTooltip="{{data.name}}" tooltipPosition="top" tooltipStyleClass="profile-name-tooltip">
                    ...
                </span>
            </h2>
        </div>
        <div class="padding-class">
            <div style="float:left;margin-right:2px" class="label-class">{{I18N.keyID['sds_block_volume_descri']}}:</div>
            <div title="{{data && data.description ?data.description :'--'}}">{{ data.description ? (data.description | slice:0:30) : '--' }} 
                <span  *ngIf="data.description && data.description.length > 20" pTooltip="{{data.description}}" tooltipPosition="top" tooltipStyleClass="profile-desc-tooltip">
                    ...
                </span>
            </div>
        </div>
        <div class="padding-class"style="clear:both;">
            <span class="label-class">Profile ID:</span>
            <span title="{{data && data.id ?data.id :'--'}}">{{ data.id ? (data.id | slice:0:25) : '--' }} 
                <span  *ngIf="data.id && data.id.length > 20" pTooltip="{{data.id}}" tooltipPosition="top" tooltipStyleClass="profile-desc-tooltip">
                    ...
                </span>
            </span>
            <button pButton ngxClipboard 
                [cbContent]="data.id"
                (cbOnSuccess)="copyProfileSuccess(data.id)"
                (cbOnError)="copyProfileError(data.id)"
                type="button" icon="fa fa-copy" iconPos="right"></button>
        </div>
        <div class="padding-class"style="clear:both;">
            <span class="label-class">Storage Type:</span>
            <span>{{data.storageType? data.storageType : "--"}}</span>
        </div>
        <div class="padding-class">
            <span class="label-class">Access Protocol:</span>
            <span>{{data['provisioningProperties'].ioConnectivity && data['provisioningProperties'].ioConnectivity.accessProtocol}}</span>
        </div>
        <div class="padding-class">
            <span class="label-class">Provisioning Type:</span>
            <span>{{data['provisioningProperties'].dataStorage && data['provisioningProperties'].dataStorage.provisioningPolicy}}</span>
        </div>
        <div class="padding-class" *ngIf="storageAclFlag">
            <span class="label-class">Storage Access Capability:</span>
            <span>{{data['provisioningProperties'].dataStorage && data['provisioningProperties'].dataStorage.storageAccessCapability}}</span>
        </div>
        <div class="padding-class" *ngIf="!storageAclFlag">
            <span class="label-class">bucketName:</span>
            <span>{{data.snapshotProperties.topology.bucket ? data.snapshotProperties.topology.bucket :'--'}}</span>
        </div>
        <div class="padding-class item-flex">
            <div *ngIf="data && policys.length !== 0" class="item-flex">
                <div (mouseenter)="showSuspensionFrame($event)" (mouseleave)="showSuspensionFrame($event)" 
                *ngFor="let policy of policys; index as i" class="position-relative mouse-cursor" style="display: inline-block">
                    <div [ngStyle]="map.policy" class="fa fa-check icon-color-class margin-right-class">
                        <span class="font-color-class">{{policy}}</span>
                    </div>
                    <app-suspension-frame [policy]="[policy,data]" [ngStyle]="{'display':i === index && isHover ? 'block' : 'none'}"></app-suspension-frame>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-5 profile-capacity-chart">
        <p-chart [options]="option" type="doughnut" [data]="chartDatas"></p-chart>
    </div>
    <div class="ui-g-12 ui-md-1" *ngIf="isAdministrator">
        <p-dropmenu icon="fa-ellipsis-v" [model]="dropMenuItems" styleClass="ui-dropmenu-large"></p-dropmenu>
    </div>
    <div class="ui-helper-clearfix"></div>
    <p-dialog *ngIf="showModifyProfile" styleClass="create-bucket-dialog"  header="Modify Profile" [(visible)]="showModifyProfile" [width]="600" modal="modal">
        <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="modifyProfileForm" [errorMessage]="errorMessage">
            <form-item label="Name">
                <input type="text" pInputText formControlName="name" />
            </form-item>
            <form-item label="Description">
                <textarea [rows]="5" [cols]="48" pInputTextarea formControlName="descript"></textarea>
            </form-item>
        </form>
        <p-footer>
            <button type="button" pButton (click)="submitPorfile(modifyProfileForm.value)" label="{{I18N.keyID['ok']}}"></button>
            <button type="button" pButton (click)="showModifyProfile=false" label="{{I18N.keyID['cancel']}}"></button>
        </p-footer>
    </p-dialog>
</div>
