<div>
    <div class="table-toolbar">
        <div class="left">
            <button class="ui-button-secondary" [disabled]="false" pButton type="button" label="Create" (click)="createLifeCycle()"></button>
            <button pButton type="button" [disabled]="false"  label="Enable" (click)="enableLifeCycle()" ></button>
            <button pButton type="button" [disabled]="false" label="Disable" (click)="disableLifeCycle()"></button>
            <button pButton type="button" [disabled]="false" (click)="deleteLifeCycle(selectedLifeCycle)" label="{{i18n.keyID['sds_block_volume_delete']}}"></button>
        </div>
        <div class="right">
            <div class="ui-inputsearch">
                <input type="text" #searchByName pInputText placeholder="{{i18n.keyID['sds_block_volume_search']}}">
                <button pButton type="button" icon="fa-search"></button>
            </div>
            <button class="" pButton type="button" (click)="getLifeCycleList()" icon="fa-refresh"></button>
        </div>
    </div>
    <!-- <p-dataTable [value]="lifeCycleAlls" [globalFilter]="searchByName" [(selection)]="selectedLifeCycle"  [showHeaderCheckbox]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
        <p-column selectionMode="multiple" [style]="{'width': '60px'}"></p-column>
        <p-column field="ObjectKey" header="{{i18n.keyID['sds_block_volume_name']}}" [style]="{'width': '150px'}" ></p-column>
        <p-column field="Status" header="Status" [style]="{'width': '150px'}" ></p-column>
        <p-column field="Prefix" header="Prefix" [style]="{'width': '100px'}"></p-column>
        <p-column field="Rules" header="Rules">
            <ng-template let-col pTemplate="body" let-cycle="rowData" let-i="rowIndex">
                <div *ngFor="let col of cycle[col.field]">{{col}}</div>
            </ng-template> 
        </p-column>
        <p-column header="{{i18n.keyID['sds_block_volume_operation']}}" [style]="{'width': '180px'}">
            <ng-template pTemplate="body" let-cycle="rowData" let-i="rowIndex">
                <a (click)="editFile(cycle)" [innerHtml]="i18n.keyID['sds_lifeCycle_edit']"></a>
                <a (click)="disableFile(cycle)" [innerHtml]="i18n.keyID['sds_block_volume_replication_disable']"></a>
                <a [ngClass]="{'a-rep-disabled':cycle['disabled']}" (click)="deleteLifeCycle(cycle)" [innerHtml]="i18n.keyID['sds_block_volume_delete']"></a>
            </ng-template>
        </p-column>
    </p-dataTable> -->

    <p-table [value]="lifeCycleAlls" styleClass="custom-table-class" [(selection)]="selectedLifeCycle" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
        <ng-template pTemplate="header">
            <tr>
                <!-- <th *ngFor="let col of cols" style="width: 150px">
                    {{col.header}}
                </th> -->
                <th style="width: 150px">{{cols.name}}</th>
                <th style="width: 150px">{{cols.status}}</th>
                <th style="width: 150px">{{cols.prefix}}</th>
                <th>{{cols.rules}}</th>
                <th>{{cols.operation}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lifeCycleAll>
            <tr>
                <ng-template #elseBlock>--</ng-template>
                <td>
                    {{lifeCycleAll['ObjectKey']}}
                </td>
                <td>
                    {{lifeCycleAll['Status']}}
                </td>
                <td>
                    {{lifeCycleAll['Prefix']}}
                </td>
                <td>
                    <div *ngFor="let col of lifeCycleAll['Rules']">{{col}}</div>
                </td>
                <td>
                    <!-- <ng-template pTemplate="body" let-cycle="rowData" let-i="rowIndex"> -->
                        <a (click)="editFile(lifeCycleAll)" [innerHtml]="i18n.keyID['sds_lifeCycle_edit']"></a>
                        <a (click)="disableFile(lifeCycleAll)" [innerHtml]="i18n.keyID['sds_block_volume_replication_disable']"></a>
                        <a [ngClass]="{'a-rep-disabled':lifeCycleAll['disabled']}" (click)="deleteLifeCycle(lifeCycleAll)" [innerHtml]="i18n.keyID['sds_block_volume_delete']"></a>
                    <!-- </ng-template>  -->
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog  styleClass="upload-dialog" header="Create LifeCycle Rule" [(visible)]="showCreateLifeCycle" [width]="650" modal="modal">
        <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="createLifeCycleForm" (ngSubmit)="onSubmit(createLifeCycleForm.value)" [errorMessage]="errorMessage">
            <div class="volume-item" [innerHtml]="label.header"></div>
            <form-item label="Name" [required]="true">
                <input id="lifeCycle" type="text" pInputText formControlName="name" (change)="lifeCycleNameOnChanged(createLifeCycleForm)"/>
            </form-item>
            <form-item label="Prefix">
                <input type="text" pInputText formControlName="prefix"/> 
            </form-item>
            <form-item label="Rules">
                <p-inputSwitch formControlName="enabled" (onChange)="transSwitch()"></p-inputSwitch>
            </form-item>
            <form-item label="Transistion Rules" *ngIf="ruleChecked">
                <p-checkbox formControlName="transEnabled" (onChange)="transChecked = !transChecked" name="transChecke" value="trans"></p-checkbox>
            </form-item>
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid volume-item" *ngIf="transChecked">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <span style="color:#cd0a0a;padding-right: 0.03rem;">*</span><span [innerHtml]="label.days"></span>
                    </div>
                    <div class="ui-grid-col-3">
                        <span style="color:#cd0a0a;padding-right: 0.03rem;">*</span><span [innerHtml]="label.trans"></span>
                    </div>
                    <div class="ui-grid-col-3">
                        <span [innerHtml]="label.backend"></span>
                    </div>
                </div>
                <div class="ui-grid-row volume-item" *ngFor="let lifeCycleItem of lifeCycleItems;index as i">
                    <div class="ui-grid-col-4">
                        <input pInputText type="text" formControlName="{{'days'+i}}"/>
                        <div class="ui-message-container" *ngIf="createLifeCycleForm.controls['days'+i] && !createLifeCycleForm.controls['days'+i].valid&&createLifeCycleForm.controls['days'+i].dirty">
                            <div class="ui-message ui-message-error ui-corner-all">
                                <i class="fa fa-exclamation-circle"></i>
                                <span class="ui-message-error-text">
                                    {{getErrorMessage(createLifeCycleForm.controls['days'+i],"days")}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-3">
                        <p-dropdown [style]="{'width':'134px'}" [options]="transOptions" formControlName="{{'transId'+i}}" placeholder="please select" (onChange)="typeChange($event, i, 'trans')"></p-dropdown>
                        <div class="ui-message-container" *ngIf="createLifeCycleForm.controls['transId'+i] && !createLifeCycleForm.controls['transId'+i].valid&&createLifeCycleForm.controls['transId'+i].touched">
                            <div class="ui-message ui-message-error ui-corner-all">
                                <i class="fa fa-exclamation-circle"></i>
                                <span class="ui-message-error-text">
                                {{getErrorMessage(createLifeCycleForm.controls['transId'+i],"transistion")}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-3" *ngIf="backendShow[i]">
                        <p-dropdown [style]="{'width':'134px'}" [options]="backends[i]" formControlName="{{'backendId'+i}}" placeholder="please select"></p-dropdown>
                    </div>
                    <div class="ui-grid-col-1">
                        <div class="create-profile-img " (click)="deleteTransRules(i)">
                            <img style="vertical-align:middle; margin-left: 40px;" src="assets/business/images/profile/u1065.png">
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row volume-item">
                    <a class="create-profile-img" (click)="addTransRules()">
                        <img style="vertical-align:middle;" src="assets/business/images/profile/u2987.png">
                        <span [innerHtml]="label.addRule"></span>
                    </a>
                </div>
            </div>
            <form-item label="Expiration Rules" *ngIf="ruleChecked">
                <p-checkbox formControlName="expirEnabled" name="expirChecke" value="expir" (onChange)="checkExpir()"></p-checkbox>
            </form-item>
            <div *ngIf="expirChecked">
                <div class="input-text-vertical-align">
                    <input style="min-width:80px; width:120px;" type="text"  pInputText formControlName="expirDays"/>
                    <div class="ui-message-container" *ngIf="createLifeCycleForm.controls['expirDays'] && !createLifeCycleForm.controls['expirDays'].valid&&createLifeCycleForm.controls['expirDays'].dirty">
                        <div class="ui-message ui-message-error ui-corner-all">
                            <i class="fa fa-exclamation-circle"></i>
                            <span class="ui-message-error-text">
                                {{getErrorMessage(createLifeCycleForm.controls['expirDays'],"expirDays")}}
                            </span>
                        </div>
                    </div>
                    <span [innerHtml]="label.expirDelete"></span>
                </div>
                <div class="volume-item">
                    <p-checkbox label="{{i18n.keyID['sds_lifeCycle_expiration_cleanUp']}}" (onChange)="expirCleanUp = !expirCleanUp"></p-checkbox>
                </div>
                <div class="input-text-vertical-align volume-item" *ngIf="expirCleanUp">
                    <span>Elapsed time</span>
                    <input style="min-width:80px; width:120px;" type="text"  pInputText formControlName="cleanDays">
                    <span>From the very beginning of uploading</span>
                </div>
            </div>
        </form>
        <p-footer>
            <button type="submit" class="ui-button-secondary" pButton label="{{i18n.keyID['ok']}}" (click)="onSubmit(createLifeCycleForm.value)"></button>
            <button type="button" pButton (click)="showCreateLifeCycle=false"  label="{{i18n.keyID['cancel']}}"></button>
        </p-footer>
    </p-dialog>
    <p-confirmDialog></p-confirmDialog> 
</div>
