<p-growl [value]="msgs" [sticky]="false" [life]="6000" [baseZIndex]="99999"></p-growl>
<div class="content-header">
    <div class="table-toolbar">
        <div class="left">
            <button class="ui-button-secondary" [disabled] = "showAKSKWarning" pButton type="button" (click)="showCreateForm()" label="{{I18N.keyID['sds_block_volume_create']}}" ></button>
        </div>
        <div class="right">
            <div class="ui-inputsearch">
                <input type="text" #searchByName pInputText placeholder="{{I18N.keyID['sds_block_volume_search']}}">
                <button pButton type="button" icon="fa-search"></button>
            </div>
            <button class="" pButton type="button" (click)="getBuckets()"  icon="fa-refresh"></button>
        </div>
    </div>
    <div style="padding-bottom: 0.1rem;color:red;" *ngIf="showAKSKWarning">
        The operation of the buckets requires AK/SK authentication. The current system does not have AK/SK. Please go to
        <b>
            <a href="#" [routerLink] = "[akSkRouterLink]">add AK/SK</a>
        </b>

    </div>
    <p-dataTable [value]="allBuckets" [globalFilter]="searchByName" [(selection)]="selectedBuckets"  [showHeaderCheckbox]="true" resizableColumns="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
        <p-column field="name" header="{{I18N.keyID['sds_block_volume_name']}}" >
            <ng-template pTemplate="body" let-bucket="rowData">
                <a [routerLink]="['/bucketDetail/' + bucket.name, {bucketLocation: bucket.LocationConstraint}]"  title="{{bucket.name}}">{{bucket.name}}</a>
            </ng-template>
        </p-column>
        <p-column *ngIf="servicePlansEnabled" field="LocationConstraint" header="Service Plan" ></p-column>
        <p-column *ngIf="!servicePlansEnabled" field="LocationConstraint" header="Default Backend" ></p-column>
        <p-column field="CreationDate" header="Created At">
            <ng-template pTemplate="body" let-obj="rowData" let-i="rowIndex">
                {{obj.CreationDate ? (obj.CreationDate | date:'long') : '--'}}
            </ng-template>
        </p-column>
        <p-column field="encryptionEnabled" header="Encryption Enabled">
            <ng-template pTemplate="body" let-bucket="rowData">
                <p *ngIf="bucket.encryptionEnabled==true"><i class="fa fa-lock"></i> <span class="encryption-text">Yes</span><span class="encryption-type">AES256</span></p>
                <p *ngIf="bucket.encryptionEnabled==false"><i class="fa fa-unlock"></i><span class="encryption-text">No</span></p>
            </ng-template>
        </p-column>
        <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width': '335px'}">
            <ng-template pTemplate="body" let-bucket="rowData" let-i="rowIndex">
                <a (click)="configMigration(bucket)">Migrate</a>
                <a (click)="deleteBucket(bucket)">Delete</a>
            </ng-template>
        </p-column>
    </p-dataTable>

    <p-sidebar [(visible)]="showRightSidebar" (onHide)="closeSidebar()" position="right" styleClass="details-sidebar-panel ui-sidebar-lg" [autoZIndex]="true" [baseZIndex]="1000">
        <div *ngIf="createBucketDisplay" class="right-sidebar-content-wrapper">
            <div class="right-sidebar-header">
                <h1 style="font-weight:normal">Create Bucket</h1>
            </div>
            <div class="right-sidebar-body">
                <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="createBucketForm" [errorMessage]="errorMessage">
                    <form-item label="Name" [required]="true">
                        <input type="text" pInputText formControlName="name" />
                    </form-item>
                    <div *ngIf="!servicePlansEnabled" style="margin-bottom: 10px;"><span style="font-size: 16px;font-style: normal">Default Backend</span></div>
                    <span *ngIf="!servicePlansEnabled" style="display:inline-block;color: rgb(136, 147, 166);margin-bottom: 10px;">Objects will be stored by default to the specified backend.</span>
                    <form-item *ngIf="!servicePlansEnabled" label="type" [required]="true">
                        <p-dropdown *ngIf="!servicePlansEnabled" [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="allTypes" (onChange)="getBackendsByTypeId()" name='selectType' [(ngModel)]='selectType' formControlName="backend_type"></p-dropdown>
                    </form-item>
                    <form-item *ngIf="!servicePlansEnabled" label="Backend" [required]="true">
                        <p-dropdown *ngIf="!servicePlansEnabled" [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="backendsOption" (onChange)="setRegion()" formControlName="backend"></p-dropdown>
                    </form-item>
                    <form-item *ngIf="servicePlansEnabled" label="Service Plan" [required]="true">
                        <p-dropdown *ngIf="servicePlansEnabled" [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [disabled]="tierOptions && tierOptions<1" [options]="tierOptions"  name='selectTier' [(ngModel)]='selectTier' formControlName="tier"></p-dropdown>
                        <a class="add-plan-link" *ngIf="isAdmin && (tierOptions && tierOptions<1)" [routerLink]="'/servicePlanManagement'">Add Service Plans</a>
                    </form-item>
                    <form-item label="Enable Encryption?" >
                        <p-inputSwitch formControlName="encryption" onLabel="Yes" offLabel="No" (onChange)="encryptionControl()"></p-inputSwitch>
                    </form-item>
                    <form-item label="Encryption Type">
                        <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="sseTypes" [(disabled)]="!enableEncryption" [(ngModel)]='selectedSse' formControlName="sse"></p-dropdown>
                    </form-item>

                </form>
            </div>
            <div class="right-sidebar-footer">
                <div style="margin-top:100px;">
                    <button type="submit" class="ui-button-secondary" pButton (click)="creatBucket()"  label="{{I18N.keyID['ok']}}"></button>
                    <button type="button" pButton (click)="closeSidebar()"  label="{{I18N.keyID['cancel']}}"></button>
                </div>
            </div>
        </div>

        <div *ngIf="createMigrateShow"  class="right-sidebar-content-wrapper">
            <div class="right-sidebar-header">
                <h1 style="font-weight:normal">Create Migration Plan</h1>
            </div>
            <div class="right-sidebar-body">
                <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="migrationForm" [errorMessage]="errorMessage">
                    <div style="margin-bottom: 18px;"><span style="font-size: 16px;font-style: normal">Basic Information</span></div>
                    <form-item label="Plan Name" >
                        <input type="text" name="name" pInputText style="width: 150px;" formControlName="name" />
                    </form-item>
                    <form-item label="Source Bucket" >
                        <input type="text" name="" disabled="true" pInputText style="width: 150px;" value="{{selectedBucket.name}}" />
                    </form-item>
                    <form-item label="Destination Bucket" >
                        <p-dropdown [style]="{'min-width':'220px'}" placeholder="Please select" [options]="availbucketOption" name="destBucket" formControlName="destBucket"  ></p-dropdown>
                    </form-item>
                    <form-item label="Execution Time" >
                        <p-calendar [disabled]="selectTime" [showTime]="true" name="excutingTime" formControlName="excuteTime" ></p-calendar>
                        <p-checkbox (onChange)="showcalendar()" name="excuteTime"  value="true" binary="true" label="Immediately" formControlName="excute"></p-checkbox>
                    </form-item>
                    <div *ngIf="false" style="margin-bottom: 10px;"><span style="font-size: 16px;font-style: normal">Rule</span></div>
                    <span *ngIf="false" style="display:inline-block;margin-bottom: 10px;color: rgb(136, 147, 166);">Without rules, all of them are migrated, otherwise only migrate objects with this rule.</span>
                    <textarea *ngIf="false" [rows]="2" [cols]="78" pInputTextarea name="rule" formControlName="rule"></textarea>
                    <div *ngIf="false" style="margin:10px 0">
                        <p-checkbox (onChange)="showDetail()" name="analysis"  formControlName="anaShow" value="true" label="Config Data analysis"></p-checkbox>
                    </div>
                    <form *ngIf="false" [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="analysisForm"  >
                        <form-item label="Analysis Cluster" >
                            <input type="text" name="analysisCluster" pInputText formControlName="analysisCluster"  />
                        </form-item>
                        <form-item label="AK" [style]="{'display':'inline-block'}" >
                            <input type="text" name="ak" pInputText formControlName="ak"  />
                        </form-item>
                        <form-item label="SK" [style]="{'display':'inline-block'}">
                            <input type="text" name="sk" pInputText formControlName="sk"  />
                        </form-item>
                        <form-item label="Analysis Engine" [style]="{'display':'inline-block'}">
                            <p-dropdown [style]="{'min-width':'220px'}" [options]="engineOption" placeholder="Please select" formControlName="jar" name="jar" ></p-dropdown>
                        </form-item>
                        <div style="margin-bottom: 10px;"><span style="font-size: 16px;font-style: normal">Analysis Param</span></div>
                        <textarea [rows]="2" [cols]="78" pInputTextarea name="anaParam" formControlName="anaparam"></textarea>
                    </form>
                    <div style="margin-top:10px;">
                        <p-checkbox binary="true" name="deleteSrcObject"  value="true" formControlName="deleteSrcObject"  label="Delete the source objects after the migration is completed."></p-checkbox>
                    </div>
                </form>
            </div>
            <div class="right-sidebar-footer">
                <div style="margin-top:100px;">
                    <button type="button" [disabled]="migrationForm.invalid" class="ui-button-secondary" pButton (click)="createMigration()" label="{{I18N.keyID['ok']}}" ></button>
                    <button type="button" pButton (click)="closeSidebar()" label="{{I18N.keyID['cancel']}}"></button>
                </div>
            </div>
        </div>

    </p-sidebar>

    <p-confirmDialog></p-confirmDialog>
</div>
