<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div>
    <div class="table-toolbar">
        <div class="left">
            <button class="ui-button-secondary" pButton type="button" label="{{I18N.keyID['sds_block_volume_create']}}" [routerLink]="['/createFileShare']"></button>
            <button pButton type="button" label="{{I18N.keyID['sds_block_volume_delete']}}" (click)="batchDelete(selectedFileShares)" [disabled]="selectedFileShares.length == 0"></button>
        </div>
        <div class="right">
            <div class="ui-inputsearch">
                <input type="text" #searchByName pInputText placeholder="{{I18N.keyID['sds_block_volume_search']}}">
                <button pButton type="button" icon="fa-search"></button>
            </div> 
            <button class="" pButton type="button" (click)="getFileShares()" icon="fa-refresh"></button>
        </div>
    </div>
    <p-dataTable [value]="fileShares" [globalFilter]="searchByName" [(selection)]="selectedFileShares" [showHeaderCheckbox]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
        <p-column selectionMode="multiple" [style]="{'width': '60px'}"></p-column>
        <p-column field="name" header="{{I18N.keyID['sds_block_volume_name']}}" [style]="{'width': '140px'}" >
            <ng-template pTemplate="body" let-fileShare="rowData">
                <a [routerLink]="['/fileShareDetail/' + fileShare.id]"  title="{{fileShare.name}}">{{fileShare.showName}}</a>
            </ng-template>
        </p-column>
        <p-column field="size" header="Capacity" ></p-column>
        <p-column field="status" header="{{I18N.keyID['sds_block_volume_status']}}"></p-column>
        <p-column field="profileName" header="{{I18N.keyID['sds_block_volume_profile']}}"></p-column>
        <p-column field="availabilityZone" header="{{I18N.keyID['sds_block_volume_az']}}" [style]="{'width': '15%'}"></p-column>
        <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width': '335px'}">
            <ng-template pTemplate="body" let-fileShare="rowData" let-i="rowIndex">
                <a (click)="returnSelectedFileShare(fileShare,'snapshot')" [innerHtml]="I18N.keyID['sds_block_volume_createsna']"></a>
                <a (click)="returnSelectedFileShare(fileShare,'acl')">Create Access</a>
                <p-dropmenu label="{{I18N.keyID['sds_block_volume_more']}}" [model]="fileShare['disabled'] ? menuDeleDisableItems: menuItems" (click)="returnSelectedFileShare(fileShare)"></p-dropmenu>
            </ng-template>
        </p-column>
    </p-dataTable>
    
    <p-dialog *ngIf="createSnapshotShow" header="Create Snapshot" [(visible)]="createSnapshotShow" [width]="600" modal="modal">
        <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="createSnapshotForm" [errorMessage]="errorMessage">
            <form-item label="FileShare">
                <span class="text-only" [innerHtml]="selectedFileShare.name"></span>
            </form-item>
            <form-item label="Name" [required]="true">
                <input type="text" pInputText formControlName="name" />
            </form-item>
            <form-item label="Description">
                <input type="text" pInputText formControlName="description" />
            </form-item>
        </form>
        <p-footer>
            <button type="button" pButton (click)="createSnapshot()" label="{{I18N.keyID['ok']}}"></button>
            <button type="button" pButton (click)="createSnapshotShow=false" label="{{I18N.keyID['cancel']}}"></button>
        </p-footer>
    </p-dialog>

    <p-dialog *ngIf="aclCreateShow" header="{{I18N.keyID['sds_fileShare_addRule']}}" [(visible)]="aclCreateShow" [width]="600" modal="modal">
        <form [grid]="{label: 'ui-g-4', content: 'ui-g-20'}" [formGroup]="createAclsFormGroup" [errorMessage]="errorMessage">
            <form-item label="{{I18N.keyID['sds_fileShare_acl_level']}}" [required]="true" >
                <p-dropdown [options]="availabilityAclLevel" formControlName="level" [style]="{'min-width':150}" placeholder="Please choose"></p-dropdown>
            </form-item>
            <form-item [required]="true" label="{{I18N.keyID['sds_fileShare_acl_user']}}">
                <div class="ui-grid-row volume-item" *ngFor="let AclsItem of aclsItems;index as i">
                    <!-- <p-dropdown [options]="availabilityip" formControlName="{{'user'+i}}" [style]="{'min-width':96}"></p-dropdown> -->
                    <div class="ui-grid-col-9">
                        <input type="text" pInputText formControlName="{{'userInput'+i}}" [style]="{'width':150}"/>
                        <div class="ui-message-container" *ngIf="createAclsFormGroup.controls['userInput'+i] && !createAclsFormGroup.controls['userInput'+i].valid&&createAclsFormGroup.controls['userInput'+i].dirty">
                            <div class="ui-message ui-message-error ui-corner-all">
                                <i class="fa fa-exclamation-circle"></i>
                                <span class="ui-message-error-text">
                                    {{getErrorMessage(createAclsFormGroup.controls['userInput'+i],"ip")}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-col-2">
                        <div class="create-profile-img " (click)="deleteAclUsers(i)">
                            <img style="vertical-align:middle; margin-left: 40px;" src="assets/business/images/profile/u1065.png">
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row volume-item">
                    <a class="create-profile-img" (click)="addTransRules()">
                        <img style="vertical-align:middle;" src="assets/business/images/profile/u2987.png">
                        <span>Add Rule</span>
                    </a>
                </div>
            </form-item>
            <form-item label="Description">
                <input type="text" pInputText formControlName="description" />
            </form-item>
        </form>
        <p-footer>
            <button type="button" pButton class="ui-button-secondary" (click)="createAclsSubmit(createAclsFormGroup.value)" label="{{I18N.keyID['ok']}}" ></button>
            <button type="button" pButton (click)="aclCreateShow=false" label="{{I18N.keyID['cancel']}}"></button>
        </p-footer>
    </p-dialog>
    
    <p-dialog *ngIf="modifyFileShareShow" styleClass="create-bucket-dialog"  header="Modify File Share" [(visible)]="modifyFileShareShow" [width]="600" modal="modal">
        <form  [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="modifyFileShareForm" [errorMessage]="errorMessage">
            <form-item label="Name">
                <input type="text" pInputText formControlName="name" />
            </form-item>
            <form-item label="Description">
                <textarea [rows]="5" [cols]="48" pInputTextarea formControlName="description"></textarea>
            </form-item>
        </form>
        <p-footer>
            <button type="button" pButton (click)="modifyFileShare(modifyFileShareForm.value)" label="{{I18N.keyID['ok']}}"></button>
            <button type="button" pButton (click)="modifyFileShareShow=false" label="{{I18N.keyID['cancel']}}"></button>
        </p-footer>
    </p-dialog>
    <p-confirmDialog></p-confirmDialog>
</div>
