<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div class="table-toolbar">
    <div class="left">
        <button class="ui-button-secondary" pButton type="button" label="{{I18N.keyID['sds_block_volume_create']}}" [routerLink]="['/createHost']"></button>
        <button pButton type="button" label="{{I18N.keyID['sds_block_volume_delete']}}" [disabled]="selectedHosts.length == 0" (click)="batchDeleteHosts(selectedHosts)"></button></div>
    <div class="right">
        <div class="ui-inputsearch">
            <input type="text" #searchByName pInputText placeholder="{{I18N.keyID['sds_block_volume_search']}}">
            <button pButton type="button" icon="fa-search"></button>
        </div>
        <button class="" pButton type="button" (click)="getAllHosts()" icon="fa-refresh"></button>
    </div>
</div>

<p-dataTable [value]="allHosts" [globalFilter]="searchByName" [(selection)]="selectedHosts" [expandableRows]="true" [showHeaderCheckbox]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
    <p-column expander="true" styleClass="col-icon" [style]="{'width': '30px'}"></p-column>
    <p-column selectionMode="multiple" [style]="{'width': '30px'}"></p-column>
    <p-column field="hostName" header="Name">
        <ng-template pTemplate="body" let-host="rowData">
            <a [routerLink]="['/hostDetails/' + host.id]" title="{{host.hostName}}">{{host.hostName}}</a>
        </ng-template>
    </p-column>
    <p-column field="ip" header="IP Address"></p-column>
    <p-column field="port" header="Port">
        <ng-template pTemplate="body" let-host="rowData">
            <span>{{host.port? host.port : '-'}}</span>
        </ng-template>
    </p-column>
    <p-column field="osType" header="OS"></p-column>
    <p-column field="accessMode" header="Access Mode"></p-column>
    <p-column field="availabilityZones" header="Availablilty Zones">
       <ng-template pTemplate="body" let-host="rowData">
            <span class="host-az" >{{host.availabilityZones[0]}}</span>
            <a *ngIf="host.availabilityZones.length > 1" pTooltip="{{host.availabilityZones}}" tooltipPosition="top" tooltipStyleClass="host-az-tip" positionStyle="absolute">...</a>
       </ng-template>
    </p-column>
    <p-column header="{{I18N.keyID['sds_block_volume_operation']}}">
        <ng-template pTemplate="body" let-host="rowData">
            <p-dropmenu label="Actions" [model]="menuItems" (click)="returnSelectedHost(host)"></p-dropmenu>
        </ng-template>
    </p-column>
    <ng-template let-host pTemplate="rowexpansion">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                <div class="ui-grid-row volume-basic-item-class">
                    <div class="ui-grid-col-1">
                        {{label.hostName}}:
                    </div>
                    <div class="ui-grid-col-3 volume-basic-item-value-color">
                        {{host.hostName}}
                    </div>
                    <div class="ui-grid-col-1">
                        {{label.status}}:
                    </div>
                    <div class="ui-grid-col-3 volume-basic-item-value-color">
                        {{host.status}}
                    </div>
                    <div class="ui-grid-col-1">
                        {{label.createdAt}}:
                    </div>
                    <div class="ui-grid-col-3 volume-basic-item-value-color">
                        {{host.createdAt}}
                    </div>
                    
                </div>
                <div class="ui-grid-row volume-basic-item-class">
                    <div class="ui-grid-col-1">
                        {{label.ip}}:
                    </div>
                    <div class="ui-grid-col-3 volume-basic-item-value-color">
                        {{host.ip}}
                    </div>
                    <div class="ui-grid-col-1">
                        {{label.accessMode}}:
                    </div>
                    <div class="ui-grid-col-3 volume-basic-item-value-color">
                        {{host.accessMode}}
                    </div>
                    <div class="ui-grid-col-1">
                        {{label.updatedAt}}:
                    </div>
                    <div class="ui-grid-col-3 volume-basic-item-value-color">
                        {{host.updatedAt}}
                    </div>
                    
                </div>
                <div class="ui-grid-row volume-basic-item-class">
                        <div class="ui-grid-col-1">
                            {{label.port}}:
                        </div>
                        <div class="ui-grid-col-3 volume-basic-item-value-color">
                            {{host.port}}
                        </div>
                        <div class="ui-grid-col-1">
                            {{label.availabilityZones}}:
                        </div>
                        <div class="ui-grid-col-3 volume-basic-item-value-color">
                            {{host.availabilityZones}}
                        </div>
                        
                        <div class="ui-grid-col-1">
                            {{label.osType}}:
                        </div>
                        <div class="ui-grid-col-3 volume-basic-item-value-color">
                            {{host.osType}}
                        </div>
                </div>
                <div class="ui-grid-row volume-basic-item-class">
                    <div class="ui-grid-col-12">
                        {{label.initiators}}:
                    </div>
                </div>
                <div class="ui-grid-row volume-basic-item-class">
                    <p-dataTable [value]="host.initiators">
                        <p-column field="portName" header="Port Name"></p-column>
                        <p-column field="protocol" header="Protocol"></p-column>
                    </p-dataTable>
                </div>
            </div>
    </ng-template>
</p-dataTable>

<p-confirmDialog></p-confirmDialog>
