<div class="layout-wrapper" [style.display]="hideLoginForm ? 'none' : 'block'">
    <div class="login-bg" #loginBG style="background-position: center" [ngClass]="{'login-animation':showLoginAnimation, 'logout-animation':showLogoutAnimation}"></div>
    <div class="login-form ui-fluid" *ngIf="!isLogin">
        <div class="logo"></div>
        <div class="form-list">
            <p><input id="username" placeholder="Username" type="text" pInputText [(ngModel)]="username" /></p>
            <p><input id="password" placeholder="Password" type="Password" pInputText [(ngModel)]="password" (keydown)="onKeyDown($event)" /></p>
            <div class="ui-message-container" *ngIf="showErrorMsg">
                <div class="ui-message ui-message-error ui-corner-all">
                    <i class="fa fa-exclamation-circle" ></i>
                    <span class="ui-message-error-text">
                        {{errorMsg}}
                    </span>
                </div>
            </div>
            <p><button pButton type="button" label="Login" (click)="login()" class="ui-button-secondary ui-button-large"></button></p>
        </div>
    </div>
</div>


<div class="layout-wrapper" (mousemove)="refreshLastTime()" *ngIf="isLogin">
    <div id="layout-topbar" style="z-index: 1001;">
        <div class="ui-g">
            <div class="ui-g-12 menu-bar">
                <div class="ui-g-2">
                    <div joyrideStep="homeWelcome" stepPosition="bottom" [title]="'Welcome to SODA Foundation'" [stepContent]="homeWelcomeContent" [text]="'Welcome to the SODA Foundation dashboard. This dashboard gives you a UI to check out the various features and APIs from various SODA Foundation projects.'" class="logo">
                        <a href="#" [routerLink]="['/home']"></a>
                    </div>
                </div>
                <div class="ui-g-5">

                </div>
                <div class="ui-g-2">
                    
                </div>
                <div class="ui-g-1">
                    <button type="button" pButton class="start-tour-button ui-button" (click)="startTour()" label="Start Tour"></button>
                </div>
                <div class="ui-g-2">
                    <div class="user-info">
                        <div>
                            <h1>Welcome {{ username }}</h1>
                            <p-dropmenu joyrideStep="homeUserProfile" stepPosition="bottom" [title]="'User menu'" [text]="'You can switch region, navigate to Manage AK/SK, Monitor Configuration and Logout'" icon="fa-chevron-circle-down" [model]="dropMenuItems" styleClass="ui-dropmenu-large"></p-dropmenu>
                        </div>
                        <p><span><i class="fa fa-map-marker"></i>default_region</span><span *ngIf=" username!='admin' "><i class="fa fa-users"></i>{{ currentTenant }}</span></p>
                        <a href="#" [routerLink]="[akSkRouterLink]"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="layout-sidebar">
       
        
        <ul class="sidebar-menu">
            <li *ngFor="let menuItem of menuItems">
                <a href="#" [joyrideStep]="menuItem.joyrideStep" [text]="menuItem.text" stepPosition="right" [routerLink]="[menuItem.routerLink]" [ngClass]="{'active-item':menuItem==activeItem}" (click)="menuItemClick($event, menuItem)">
                    <h1>{{menuItem.title}}</h1>
                    <p>{{menuItem.description}}</p>
                </a> 
            </li>
        </ul>

        
    </div>

    <div id="layout-content">
        <div [ngClass]="{'content-home':isHomePage}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<ng-template #homeWelcomeContent>
    <div class="tour-content">
        SODA Dashboard provides a unified interface to the underlying capabilities from the SODA Framework components. This dashboard is built mainly to illustrate/showcase various use cases that could run on SODA ecosystem projects.

        Technically, it is a direct client to SODA API and other projects which are getting integrated to SODA Ecosystem.
    </div>
</ng-template>

<div style="position: fixed; left: 0; bottom: -10px; right:0; z-index: -1;">
    <svg width="100%" height="150">
        <path id="svg_wave_1" fill="rgba(90, 102, 140, 0.4)"></path>
        <path id="svg_wave_2" fill="rgba(60, 142, 225, 0.6)"></path>
    </svg> 
</div>

<div *ngIf="showPrompt" style="padding:15px 20px; z-index: 99999; line-height:18px;position: fixed;bottom: 10px;left:10px;background:rgba(255,255,255,0.75); border-radius: 5px; box-shadow:0 0 10px rgba(0,0,0,0.3);">
    <span class="uploading-title">Uploading file [ {{fileName}} ]</span>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-progressBar [value]="progressValue"></p-progressBar>
        </div>
    </div>
</div> 
<ul style=" z-index: 99999; line-height:18px;position: fixed;bottom: 10px;left:10px;">
    <li *ngFor="let downfile of downLoadArr;index as i" style="display: inline-block;  padding:15px; background:rgba(255,255,255,0.75); border-radius: 5px; box-shadow:0 0 10px rgba(0,0,0,0.3);">
        <span class="downloading-title" *ngIf="i==0">downloading file [ {{downfile.name}} ]</span>
        <div class="ui-g">
            <div class="ui-g-12">
                <p-progressBar [value]="downloadProgressValue"></p-progressBar>
            </div>
        </div>
    </li>
</ul>