$color_1: #fff;
$background-color_1: rgba(0,0,0,0.7);
$border-bottom-color_1: #1c87c9;

@keyframes spinner {
	0% {
		transform: translate3d(-50%, -50%, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(-50%, -50%, 0) rotate(360deg);
	}
}

.example-spacer {
	flex: 1 1 auto;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: #3f51b5;
	padding: 8px;
	color: $color_1;
	text-align: center;
}
.loading-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $background-color_1;
	z-index: 5;
}
.spin {
	&::before {
		animation: 1.5s linear infinite spinner;
		animation-play-state: inherit;
		border: solid 5px #cfd0d1;
		border-bottom-color: $border-bottom-color_1;
		border-radius: 50%;
		content: "";
		height: 40px;
		width: 40px;
		position: absolute;
		top: 35vw;
		left: 50vw;
		transform: translate3d(-50%, -50%, 0);
		will-change: transform;
	}
}
