<!-- Loading spinner -->
<div *ngIf="loading" class="loading-container flex-content-center">
  <div class="spin"></div>
</div>
<splash-screen></splash-screen>
<div class="header">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="logo">
        <img src="../assets/soda-foundation-logo-white.svg">
      </div>
      <span class="example-spacer"></span>
      Latest Release - {{siteDetails.release}}
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p>{{siteDetails.footerText}}</p>
</div>

