<div style="padding:10px 0">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4 item-content-backgroud">
                <div class="ui-grid-col-3">
                    <div class="ui-migration-bucket-img"></div>
                </div>
                <div class="ui-grid-col-3 ui-text-adapt">
                    <div><span>Source Bucket:</span></div>
                    <div><span>Default Backend:</span></div>
                </div>
                <div class="ui-grid-col-6 ui-text-adapt">
                    <div><span>bucket_drive</span></div>
                    <div><span>bkend_local_product</span></div>
                </div>
            </div>
            <div class="ui-grid-col-2" style="text-align: center">
                <div class="ui-block-align-center">
                    <span>Period: 60 minutes</span>
                    <div style="width:90%" class="line-arrow-right enabled"></div>
                </div>
                
            </div>
            <div class="ui-grid-col-4 item-content-backgroud">
                <div class="ui-grid-col-3">
                    <div class="ui-migration-bucket-img"></div>
                </div>
                <div class="ui-grid-col-4 ui-text-adapt">
                    <div><span>Destination Bucket:</span></div>
                    <div><span>Default Backend:</span></div>
                </div>
                <div class="ui-grid-col-5 ui-text-adapt">
                    <div><span>bucket_log</span></div>
                    <div><span>bkend_log</span></div>
                </div>
            </div>
        </div>
    </div>
</div>