<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div>
    <div class="custom-breadcrumb">
        <span *ngFor="let item of items; index as i">
            <a *ngIf="i==0" [ngClass]="{'font-color-class': i!==(items.length-1)}" [routerLink]="item.url">{{item.label}}</a>
            <a *ngIf="i!=0" [ngClass]="{'font-color-class': i!==(items.length-1)}" (click)="navigateClick(item.url)">{{item.label}}</a>
            <span *ngIf="(i+1) !== items.length">></span>
        </span>
    </div>
    <p-tabView styleClass="ui-tabview-large">
        <p-tabPanel header="objects" [selected]="fromObjects">
            <div class="content-header">
                <div class="table-toolbar">
                    <div class="left">
                        <button class="ui-button-secondary" [disabled]="isUpload" pButton type="button" label="Upload / Archive" (click)="configUpload('upload')"></button>
                        <button pButton type="button" [disabled]="false"  label="Create Folder" (click)="configUpload('fromFolder')" ></button>
                        <button pButton type="button" [disabled]="selectedDir.length === 0" (click)="deleteMultiDir()" label="{{I18N.keyID['sds_block_volume_delete']}}"></button>
                        <p-splitButton label="More" [model]="moreItems" (click)="clickOperate()"></p-splitButton>
                    </div>
                    <div class="right">
                        <div class="ui-inputsearch">
                            <input type="text" #searchByName pInputText placeholder="{{I18N.keyID['sds_block_volume_search']}}">
                            <button pButton type="button" icon="fa-search"></button>
                        </div>
                        <button class="" pButton type="button" (click)="getAlldir()" icon="fa-refresh"></button>
                    </div>
                </div>
                <p-dataTable [value]="allDir" [globalFilter]="searchByName" [(selection)]="selectedDir"  [showHeaderCheckbox]="true" resizableColumns="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
                    <p-column selectionMode="multiple" [style]="{'width': '60px'}"></p-column>
                    <p-column field="Key" header="{{I18N.keyID['sds_block_volume_name']}}" [style]="{'width': '200px'}" >
                        <ng-template pTemplate="body" let-file="rowData" let-i="rowIndex">
                            <a *ngIf="file.newFolder" title="{{file.objectName}}" (click)="folderLink(file)">
                                <img style="vertical-align: middle;" src="assets/business/images/volume/icon_folder.png">
                                <span>{{file.objectName}}</span>
                            </a>
                            <a (click)="passHeaderTag()" [routerLink]="['/objectAcl/'+bucketId+'/'+file.objectName]" title="{{file.objectName}}"  *ngIf="!file.newFolder">{{file.objectName}}</a>
                        </ng-template>
                    </p-column>
                    <p-column field="size" header="Size" [style]="{'width': '120px'}"></p-column>
                    <p-column field="Location" header="Location" [style]="{'width': '120px'}" ></p-column>
                    <p-column field="Tier" header="Tier" [style]="{'width': '180px'}"></p-column>
                    <p-column field="lastModified" header="Last Modified" [style]="{'width': '250px'}">
                        <ng-template pTemplate="body" let-obj="rowData" let-i="rowIndex">
                            {{obj.lastModified ? (obj.lastModified | date:'long') : '--'}}
                        </ng-template>
                    </p-column>
                    <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width': '200px'}">
                        <ng-template pTemplate="body" let-file="rowData" let-i="rowIndex">
                            <a (click)="downloadFile(file)" *ngIf="!file.newFolder">Download</a>
                            <a (click)="showRestoreObject(file)" *ngIf="file.StorageClass == 'GLACIER' && bucketBackendType!='gcp-s3'" [ngClass]="{'a-rep-disabled':file.StorageClass!='GLACIER'}">Restore</a>
                            <!-- <a (click)="showRestoreObject(file)" *ngIf="servicePlansEnabled && file.StorageClass == 'GLACIER'" [ngClass]="{'a-rep-disabled':file.StorageClass!='GLACIER'}">Restore</a> -->
                            <a [ngClass]="{'a-rep-disabled':file['disabled']}" (click)="deleteFile(file)">Delete</a>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <p-dialog styleClass="upload-dialog"  header="Upload" [(visible)]="uploadDisplay" [width]="700" [height]="350" modal="modal">
                    <div class="a-upload">
                        <input type="file" placeholder="Select File" (change)="selectedFileOnChanged($event)" />
                        <span>Select File</span>
                    </div>
                    <span class="file-name">{{selectFileName}}</span>
                    <div class="ui-message-container" *ngIf="showErrorMsg">
                            <div class="ui-message ui-message-error ui-corner-all">
                                <i class="fa fa-exclamation-circle" ></i>
                                <span class="ui-message-error-text">
                                    please select file!
                                </span>
                            </div>
                        </div>
                    <div *ngIf="!servicePlansEnabled && archivalEnabled && archivalEnabled[bucketBackendType]" style="padding: 20px 0;">
                        <label>Archive object?</label>
                        <p-inputSwitch [(ngModel)]="enableArchival" onLabel="Yes" offLabel="No" (onChange)="archivalControl($event)"></p-inputSwitch>
                    </div>
                    <div *ngIf="servicePlansEnabled && archivalEnabled" style="padding: 20px 0;">
                        <label>Archive object?</label>
                        <p-inputSwitch [(ngModel)]="enableArchival" onLabel="Yes" offLabel="No" (onChange)="archivalControl($event)"></p-inputSwitch>
                    </div>
                    <form *ngIf="archivalEnabled && archivalEnabled[bucketBackendType] && enableArchival && !servicePlansEnabled" [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="uploadForm" [errorMessage]="errorMessage">
                        <form-item label="Archive Tier" [required]="true">
                            <p-dropdown [style]="{'min-width':'220px'}" placeholder="Please select" [options]="archiveTierOptions" name='selectArchiveTier' formControlName="archive_tier"></p-dropdown>
                        </form-item>
                    </form>
                    <p-footer>
                        <button type="submit" [disabled]="uploadForm.invalid" class="ui-button-secondary" pButton (click)="uploadFile()" label="{{I18N.keyID['ok']}}"></button>
                        <button type="button" pButton (click)="cancelUpload()"  label="{{I18N.keyID['cancel']}}"></button>
                    </p-footer>
                </p-dialog>
                <p-dialog styleClass="restore-dialog" header="Restore" [(visible)]="restoreDisplay" [width]="600" [height]="280" modal="modal">
                    <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="restoreObjectForm" [errorMessage]="restoreObjectErrorMsg">
                        <form-item *ngFor="let item of restoreFormItemsCopy" [label]="item.label" [required]="item.required">
                            <input *ngIf="item.type=='number'" [id]="item.id" type="number" min="1" [(ngModel)]="item.value" [name]="item.name"  [formControlName]="item.formControlName"  pInputText />
                            <p-dropdown *ngIf="item.type=='select'" [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="item.options" [name]="item.name" [(ngModel)]='selectRestoreOptions' [formControlName]="item.formControlName"></p-dropdown>
                        </form-item>
                    </form>
                    <p-footer>
                        <button type="submit" [disabled]="restoreObjectForm.invalid" class="ui-button-secondary" pButton (click)="restoreObject(restoreObjectForm.value)" label="{{I18N.keyID['ok']}}"></button>
                        <button type="button" pButton (click)="cancelRestore()"  label="{{I18N.keyID['cancel']}}"></button>
                    </p-footer>
                </p-dialog>
                <p-dialog  header="Create Folder" [(visible)]="showCreateFolder" [width]="600" modal="modal">
                    <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="createFolderForm" [errorMessage]="errorMessage">
                        <form-item label="Folder Name" [required]="true">
                            <input id="folder" type="text" pInputText formControlName="name" (change)="folderNameOnChanged(createFolderForm)"/>
                        </form-item>
                    </form>
                    <p-footer>
                        <button type="submit" class="ui-button-secondary" pButton (click)="createFolder()" label="{{I18N.keyID['ok']}}"></button>
                        <button type="button" pButton (click)="showCreateFolder=false"  label="{{I18N.keyID['cancel']}}"></button>
                    </p-footer>
                </p-dialog>
                <p-confirmDialog></p-confirmDialog>     
            </div>
        </p-tabPanel>
        <p-tabPanel *ngIf="!servicePlansEnabled" header="lifeCycle" [selected]="fromLifeCycle">
            <lifeCycle [bucketId]="bucketId"></lifeCycle>
        </p-tabPanel> 
        <p-tabPanel header="acl" [selected]="fromAcl">
            <acl [bucketId]="bucketId"></acl>
        </p-tabPanel> 
    </p-tabView>
</div>
<p-dialog [(visible)]="isPasting" [showHeader]="false" [closable]="false" [width]="450" [modal]="true" [height]="50">
    <p class="align-center">Object paste initiated. Please check back after sometime.</p>
    <p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar>
</p-dialog>
