<div>
    <div class="custom-breadcrumb">
        <span *ngFor="let item of items; index as i">
            <a *ngIf="i==0" [ngClass]="{'font-color-class': i!==(items.length-1)}" [routerLink]="item.url">{{item.label}}</a>
            <a *ngIf="i!=0" [ngClass]="{'font-color-class': i!==(items.length-1)}" (click)="navigateClick(item.url)">{{item.label}}</a>
            <span *ngIf="(i+1) !== items.length">></span>
        </span>
    </div>
    <p-tabView styleClass="ui-tabview-large">
        <p-tabPanel header="objects" [selected]="fromObjects">
            <div class="content-header">
                <div class="table-toolbar">
                    <div class="left">
                        <button class="ui-button-secondary" [disabled]="isUpload" pButton type="button" label="Upload" (click)="configUpload('upload')"></button>
                        <button pButton type="button" [disabled]="false"  label="Create Folder" (click)="configUpload('fromFolder')" ></button>
                        <button pButton type="button" [disabled]="glacierShow == noGlacierShow || noGlacierShow" (click)="recoverObject()" label="{{I18N.keyID['sds_lifeCycle_restore']}}"></button>
                        <button pButton type="button" [disabled]="selectedDir.length === 0" (click)="deleteMultiDir()" label="{{I18N.keyID['sds_block_volume_delete']}}"></button>
                    </div>
                    <div class="right">
                        <div class="ui-inputsearch">
                            <input type="text" #searchByName pInputText placeholder="{{I18N.keyID['sds_block_volume_search']}}">
                            <button pButton type="button" icon="fa-search"></button>
                        </div>
                        <button class="" pButton type="button" (click)="getAlldir()" icon="fa-refresh"></button>
                    </div>
                </div>
                <p-dataTable (click)="selctedObject(selectedDir)" [value]="allDir" [globalFilter]="searchByName" [(selection)]="selectedDir"  [showHeaderCheckbox]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50,100]">
                    <p-column selectionMode="multiple" [style]="{'width': '60px'}"></p-column>
                    <p-column field="ObjectKey" header="{{I18N.keyID['sds_block_volume_name']}}" [style]="{'width': '170px'}" >
                        <ng-template pTemplate="body" let-file="rowData" let-i="rowIndex">
                            <a *ngIf="file.newFolder" title="{{file.objectName}}" (click)="folderLink(file)">
                                <img style="vertical-align: middle;" src="assets/business/images/volume/icon_folder.png">
                                <span>{{file.name}}</span>
                            </a>
                            <span title="{{file.objectName}}"  *ngIf="!file.newFolder">{{file.name}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="size" header="Size" [style]="{'width': '120px'}"></p-column>
                    <p-column field="Backend" header="Location" [style]="{'width': '120px'}" ></p-column>
                    <p-column field="Tier" header="Tier" ></p-column>
                    <p-column field="lastModified" header="Last Modified"></p-column>
                    <p-column header="{{I18N.keyID['sds_block_volume_operation']}}" [style]="{'width': '180px'}">
                        <ng-template pTemplate="body" let-file="rowData" let-i="rowIndex">
                            <a *ngIf="!file.newFolder && file['StorageClass'] == 'GLACIER'" (click)="recoverObject()" [ngClass]="{'a-rep-disabled': file['restoreDisable']}">Restore</a>
                            <a (click)="downloadFile(file)" *ngIf="!file.newFolder">Download</a>
                            <a [ngClass]="{'a-rep-disabled':file['disabled']}" (click)="deleteFile(file)">Delete</a>
                        </ng-template>
                    </p-column>
                </p-dataTable>
                <p-dialog styleClass="upload-dialog"  header="Upload" [(visible)]="uploadDisplay" [width]="600" modal="modal">
                    <div class="a-upload">
                        <input type="file" placeholder="Select File" (change)="selectedFileOnChanged($event)" />
                        <span>Select File</span>
                    </div>
                    <span class="file-name">{{selectFileName}}</span>
                    <div class="ui-message-container" *ngIf="showErrorMsg">
                            <div class="ui-message ui-message-error ui-corner-all">
                                <i class="fa fa-exclamation-circle" ></i>
                                <span class="ui-message-error-text">
                                    please select file!
                                </span>
                            </div>
                        </div>
                    <div style="padding:20px 0">
                        <p-checkbox (onChange)="showDetail()" name="specify"  value="true" [(ngModel)]="selectedSpecify" label="Specify the location of data storage. If not specified, store it to default backend."></p-checkbox>
                    </div>
                    <form *ngIf="showBackend" [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="uploadForm" [errorMessage]="errorMessage">
                        <form-item label="type" [required]="true">
                            <p-dropdown [style]="{'min-width':'220px'}" placeholder="Please select" [options]="allTypes" name='selectType' formControlName="backend_type" (onChange)="getBackendsByTypeId()"></p-dropdown>
                        </form-item>
                        <form-item label="Backend" [required]="true">
                            <p-dropdown [style]="{'min-width':'220px'}" placeholder="Please select" [options]="backendsOption" name='selectBackend' formControlName="backend"></p-dropdown>
                        </form-item>
                
                    </form>
                    <p-footer>
                        <button type="submit" class="ui-button-secondary" pButton (click)="uploadFile()" label="{{I18N.keyID['ok']}}"></button>
                        <button type="button" pButton (click)="uploadDisplay=false"  label="{{I18N.keyID['cancel']}}"></button>
                    </p-footer>
                </p-dialog>
                <p-dialog  header="Create Folder" [(visible)]="showCreateFolder" [width]="600" modal="modal">
                    <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="createFolderForm" [errorMessage]="errorMessage">
                        <form-item label="Folder Name" [required]="true">
                            <input id="folder" type="text" pInputText formControlName="name" (change)="folderNameOnChanged(createFolderForm)"/>
                        </form-item>
                    </form>
                    <p-footer>
                        <button type="submit" class="ui-button-secondary" pButton (click)="createFolder()" label="{{I18N.keyID['ok']}}"></button>
                        <button type="button" pButton (click)="showCreateFolder=false"  label="{{I18N.keyID['cancel']}}"></button>
                    </p-footer>
                </p-dialog>
                <p-dialog header="Restore Object" [(visible)]="showRecoverObject" [width]="600" modal="modal">
                    <form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="recoverObjectFrom" [errorMessage]="errorMessage">
                        <h3 class="volume-item" >Restore objects from Glacier</h3>
                        <form-item label="Total objects">
                            <div>{{this.selectedDir.length}}</div>
                        </form-item>
                        <form-item label="Total size">
                            <div>{{selectedDirSize}}</div>
                        </form-item>

                        <h3 class="volume-item">Number of days the restored copy is available</h3>
                        <p-spinner formControlName="days" [min]="1" (onChange)="recoverDays()"></p-spinner>
                        <span>days</span>
                        <div class="volume-item">Available until approximately {{recoverNewDay}}</div>
                        <form-item label="Restore tier">
                            <!-- <span><p-radioButton label="Expedited" formControlName="recoverType" name="typeRadioGroup" value="Expedited"></p-radioButton></span> -->
                            <span><p-radioButton label="Standard" formControlName="recoverType" name="typeRadioGroup" value="Standard"></p-radioButton></span>
                            <div class="volume-item">
                                <div *ngIf="showExpedited">Restores the objects within 1 to 5 minutes.</div>
                                <div *ngIf="showStandard">Restores the objects within 3 to 5 hours</div>
                            </div>
                        </form-item>
                        
                    </form>
                    <p-footer>
                        <button type="submit" class="ui-button-secondary" pButton (click)="recoverSubmit()" label="{{I18N.keyID['ok']}}"></button>
                        <button type="button" pButton (click)="showRecoverObject=false"  label="{{I18N.keyID['cancel']}}"></button>
                    </p-footer>
                </p-dialog>
                <p-confirmDialog></p-confirmDialog>     
            </div>
        </p-tabPanel>
        <p-tabPanel header="lifeCycle" [selected]="fromLifeCycle">
            <lifeCycle [bucketId]="bucketId"></lifeCycle>
        </p-tabPanel> 
    </p-tabView>
</div>