<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div id="register-storage-page">
    <div class="page-header">
        <div class="custom-breadcrumb">
            <span *ngFor="let item of items; index as i">
                <a [ngClass]="{'font-color-class': i===0}" [routerLink]="[item.url]">{{item.label}}</a>
                <span *ngIf="(i+1) !== items.length">></span>
            </span>
        </div>
        <div class="content-header">
            <h1>Register Storage</h1>
            
        </div>
        <hr />
    </div>
    <form [formGroup]="registerStorageForm" [grid]="{label: 'ui-g-3', content:'ui-g-20'}" (ngSubmit)="onSubmit(registerStorageForm.value)" [errorMessage]="errorMessage">
        <p-fieldset styleClass="register-storage-param-group" legend="Vendor Parameters">
            <form-item label="{{label.vendor}}" [required]="true">
                <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="vendorOptions" (onChange)="getModelsByVendor(selectedVendor)" name='selectedVendor' [(ngModel)]='selectedVendor' formControlName="vendor"></p-dropdown>
            </form-item>
            <form-item label="{{label.model}}" [required]="true">
                <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="modelOptions" (onChange)="onStorageModelSelect(selectedModel)" name='selectedModel' [(ngModel)]='selectedModel' formControlName="model"></p-dropdown>
            </form-item>
        </p-fieldset>
        <form-item *ngIf="selectedModel && selectedModel.rest" label="Configure REST Connection details?" >
            <p-inputSwitch [disabled]="showRest && !showSsh" formControlName="enable_rest" onLabel="Yes" offLabel="No" (onChange)="showRestControl()"></p-inputSwitch>
        </form-item>
        <p-fieldset *ngIf="showRest" styleClass="register-storage-param-group" legend="REST Parameters">
            <form-item [required]="true" label="{{label.restHost}}">
                <input formControlName="restHost" type="text" size="30" pInputText> 
            </form-item>
            <form-item [required]="true" label="{{label.restPort}}">
                <input formControlName="restPort" type="text" size="30" pInputText> 
            </form-item>
            <form-item [required]="true" label="{{label.restUsername}}">
                <input formControlName="restUsername" type="text" size="30" pInputText> 
            </form-item>
            <form-item [required]="true" label="{{label.restPassword}}">
                <input formControlName="restPassword" type="password" size="30" pInputText> 
            </form-item>
        </p-fieldset>
        <form-item *ngIf="selectedModel && selectedModel.ssh" label="Configure SSH Connection details?" >
            <p-inputSwitch [disabled]="showSsh && !showRest" formControlName="enable_ssh" onLabel="Yes" offLabel="No" (onChange)="showSshControl()"></p-inputSwitch>
        </form-item>
        <p-fieldset *ngIf="showSsh" styleClass="register-storage-param-group" legend="SSH Parameters">
            <form-item [required]="true" label="{{label.sshHost}}">
                <input formControlName="sshHost" type="text" size="30" pInputText> 
            </form-item>
            <form-item [required]="true" label="{{label.sshPort}}">
                <input formControlName="sshPort" type="text" size="30" pInputText> 
            </form-item>
            <form-item [required]="true" label="{{label.sshUsername}}">
                <input formControlName="sshUsername" type="text" size="30" pInputText> 
            </form-item>
            <form-item [required]="true" label="{{label.sshPassword}}">
                <input formControlName="sshPassword" type="password" size="30" pInputText> 
            </form-item>
            <form-item label="{{label.sshPubKeyType}}" [required]="true">
                <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="pubKeyTypeOptions"  name='selectedPubKeyType' [(ngModel)]='selectedPubKeyType' formControlName="sshPubKeyType"></p-dropdown>
            </form-item>
            <form-item [required]="true" label="{{label.sshPubKey}}">
                
                <textarea pInputTextarea formControlName="sshPubKey" [rows]="5" [cols]="32" autoResize="true"></textarea>
            </form-item>
        </p-fieldset>
        <form-item *ngIf="selectedModel && selectedModel.extra" label="Extra Attributes?" >
            <p-inputSwitch formControlName="enable_extra_attribs" onLabel="Yes" offLabel="No" (onChange)="extraAttribsControl()"></p-inputSwitch>
        </form-item>
        <p-fieldset *ngIf="showExtraAttribs" styleClass="register-storage-param-group" legend="Extra Attributes">
            <form-item *ngIf="registerStorageForm.controls['extra_attributes']" label="{{label.extra_attributes}}">
                <a class="add-extra-attribute" (click)="addNextAttribute()"><i class="fa fa-plus-circle" ></i></a>
                <div class="extra-attribute-array" formArrayName="extra_attributes"
                    *ngFor="let item of registerStorageForm.get('extra_attributes')['controls']; let i = index">
                    <div class="ui-g ui-fluid" [formGroupName]="i">
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText formControlName='key' placeholder="Key">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4 ui-md-offset-1">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText formControlName='value' placeholder="Value">
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2 ui-md-offset-1">
                            <div class="ui-inputgroup">
                                <a  disabled="registerStorageForm.get('extra_attributes')['length'] > 1" 
                                    class="remove-extra-attribute" 
                                    (click)="removeAttributeLink(i)">
                                    <i class="fa fa-minus-circle"></i>
                                </a>     
                            </div>
                        </div>
                    </div>
                </div>
            </form-item>
        </p-fieldset>
        <div class="bottom-button-margin">
            <button pButton type="submit" class="ui-button-secondary" label="{{i18n.keyID['ok']}}" [disabled]="registerStorageForm.invalid" ></button>
            <button pButton type="button" label="{{i18n.keyID['cancel']}}" [routerLink]="['/resource-monitor']"></button>
            <button pButton type="button" label="Reset" (click)="resetForm()"></button>
        </div>
    </form>
</div>