<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div class="delfin-masking-views-page">
    <div class="table-toolbar">
        <div class="left">
            
        </div>
        <div class="right">
            <div class="ui-inputsearch">
                <input type="text" #searchAll pInputText placeholder="{{i18n.keyID['sds_block_volume_search']}}">
                <button pButton type="button" icon="fa-search"></button>
            </div>
            <button class="" title="Refresh lists" pButton type="button" (click)="refreshAllLists()" icon="fa-refresh"></button>
        </div>
    </div>
    <div class="ui-grid-row">
       
    </div>
</div>
