<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div class="content-header">
    <h1>{{i18n.keyID['sds_creatFileShare']}}</h1>
</div>

<form [formGroup] ="cloudFileShareCreateForm" [grid]="{label: 'ui-g-3', content:'ui-g-20'}" (ngSubmit)="onSubmit(cloudFileShareCreateForm.value)" [errorMessage]="errorMessage">
    <form-item label="{{label.backend_type}}" [required]="true">
        <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="allTypes" (onChange)="getBackendsByTypeId()" name='selectType' [(ngModel)]='selectType' formControlName="backend_type"></p-dropdown>
    </form-item>
    <form-item label="{{label.backend}}" [required]="true">
        <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="backendsOption" (onChange)="updateFormAndRegion()" formControlName="backend"></p-dropdown>
    </form-item>
    <form-item *ngIf="cloudFileShareCreateForm.controls['sfsType']" label="{{label.sfs_type}}" [required]="true">
        <span><p-radioButton label="SFS" formControlName="sfsType" name="typeRadioGroup" value="SFS"></p-radioButton></span>
        <span style="margin-left: 30px;"><p-radioButton label="SFS_Turbo" formControlName="sfsType" name="typeRadioGroup" value="SFS_Turbo" disabled="true"></p-radioButton></span>

    </form-item>
    <form-item [required]="true" label="{{label.name}}">
        <input formControlName="name" type="text" size="30" pInputText>
    </form-item>
    <form-item label="{{label.description}}">
        <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="description" [maxlength]="250"></textarea>
    </form-item>
    <form-item *ngIf="cloudFileShareCreateForm.controls['availabilityZone']" label="{{label.az}}">
        <input formControlName="availabilityZone" type="text" size="30" pInputText>
    </form-item>
    <form-item *ngIf="cloudFileShareCreateForm.controls['encrypted']" label="Enable Encryption?" >
        <p-inputSwitch formControlName="encrypted" onLabel="Yes" offLabel="No" (onChange)="encryptionControl()"></p-inputSwitch>
    </form-item>

    <form-item *ngIf="cloudFileShareCreateForm.controls['encryptionSettings'] && isVisible"  label="{{label.encryptionSettings}}">

        <div  class="encryption-settings-array" formArrayName="encryptionSettings"
            *ngFor="let item of cloudFileShareCreateForm.get('encryptionSettings')['controls']; let i = index">
            <div class="ui-g ui-fluid" [formGroupName]="i">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='key' placeholder="Key">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='value' placeholder="Value">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2 ui-md-offset-1">
                    <div class="ui-inputgroup">

                    </div>
                </div>
            </div>
        </div>

    </form-item>
    <form-item *ngIf="cloudFileShareCreateForm.controls['size']" label="{{label.size}}">
        <input formControlName="size" type="text" size="30" pInputText>
    </form-item>

    <form-item *ngIf="cloudFileShareCreateForm.controls['protocols']" [required]="true" label="{{label.protocols}}">
        <p-multiSelect [options]="protocolTypeOptions" formControlName="protocols"  defaultLabel="You can choose multiple"></p-multiSelect>
    </form-item>

    <form-item *ngIf="cloudFileShareCreateForm.controls['tags']" [required]="true" label="{{label.tags}}">
        <a class="add-tag" (click)="addNextTag()"><i class="fa fa-plus-circle" ></i></a>
        <div class="tag-array" formArrayName="tags"
            *ngFor="let item of cloudFileShareCreateForm.get('tags')['controls']; let i = index">
            <div class="ui-g ui-fluid" [formGroupName]="i">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='key' placeholder="Key">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='value' placeholder="Value">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <a disabled="cloudFileShareCreateForm.get('tags')['length'] > 1" class="remove-tag" (click)="removeTagLink(i)"><i class="fa fa-minus-circle"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </form-item>

    <form-item *ngIf="cloudFileShareCreateForm.controls['metadata']" [required]="true" label="{{label.metadata}}">
        <a class="add-metadata" (click)="addNextMetadata()"><i class="fa fa-plus-circle" ></i></a>
        <div class="metadata-array" formArrayName="metadata"
            *ngFor="let item of cloudFileShareCreateForm.get('metadata')['controls']; let i = index">
            <div class="ui-g ui-fluid" [formGroupName]="i">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='key' placeholder="Key">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='value' placeholder="Value">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <a *ngIf="(key != 'PerformanceMode') || (key != 'ThroughputMode') || (key != 'ProvisionedThroughputInMibps') || (key != 'Tier')"
                            disabled="cloudFileShareCreateForm.get('metadata')['length'] > 1"
                            class="remove-metadata"
                            (click)="removeMetadataLink(i)">
                            <i class="fa fa-minus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </form-item>

    <div class="bottom-button-margin">
        <button pButton type="submit" class="ui-button-secondary" label="{{i18n.keyID['ok']}}" [disabled]="cloudFileShareCreateForm.invalid"></button>
        <button pButton type="button" label="{{i18n.keyID['cancel']}}" [routerLink]="['/block','fromCloudFileShare']"></button>
    </div>
</form>
