.project-details-container{
    padding: 12px;
    .p-name{
        font-weight: bold;
        font-size: 18px;
    }
    .right{
        float: right;
    }
    .details-container{
        clear: both;
    }
}