<p-growl [value]="msgs" [sticky]="false" [life]="6000"></p-growl>
<div class="content-header">
    <h1>{{I18N.keyID['sds_block_volume_createVol']}}</h1>
</div>

<form [grid]="{label: 'ui-g-3', content:'ui-g-20'}" [formGroup]="createVolumeForm" (ngSubmit)="createVolume(createVolumeForm.value)" [errorMessage]="errorMessage">
    <form-item label="Backend Type" [required]="true">
        <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="allTypes" (onChange)="getBackendsByTypeId()" name='selectType' [(ngModel)]='selectType' formControlName="backend_type"></p-dropdown>
    </form-item>
    <form-item label="Backend" [required]="true">
        <p-dropdown [disabled]="!selectType" [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="backendsOption" (onChange)="setRegion()" formControlName="backendId"></p-dropdown>
    </form-item>
    <form-item label="Name" [required]="true">
        <input type="text" pInputText formControlName="name" />
    </form-item>
    <form-item label="Description">
        <textarea pInputTextarea formControlName="description" [rows]="5" [cols]="25" autoResize="true"></textarea>
    </form-item>
    <form-item label="Availability Zone" [required]="true">
        <input type="text" pInputText formControlName="availabilityZone" />
    </form-item>
    <form-item label="Volume Type" [required]="true">
        <p-dropdown [style]="{'min-width':'150px','width':'220px'}" placeholder="Please select" [options]="volumeTypeOptions" (onChange)="onChangeVolType()" name='selectedVolType' [(ngModel)]='selectedVolType' formControlName="type"></p-dropdown>
    </form-item>
    <form-item label="Size (GiB)" [required]="true">
        <input type="text" pInputText formControlName="size" />
    </form-item>
    
    <form-item *ngIf="createVolumeForm.controls['iops'] && selectedVolType=='io1'" label="IOPS" [required]="true">
        <input type="text" pInputText formControlName="iops" />
    </form-item>
    <form-item *ngIf="createVolumeForm.controls['encrypted']" label="Enable Encryption?" >
        <p-inputSwitch formControlName="encrypted" onLabel="Yes" offLabel="No" (onChange)="encryptionControl()"></p-inputSwitch>
    </form-item>
    
    
    <form-item *ngIf="createVolumeForm.controls['encryptionSettings'] && isVisible"  label="{{label.encryptionSettings}}">
        
        <div  class="encryption-settings-array" formArrayName="encryptionSettings"
            *ngFor="let item of createVolumeForm.get('encryptionSettings')['controls']; let i = index">
            <div class="ui-g ui-fluid" [formGroupName]="i">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='key' placeholder="Key">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-6 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <input type="password" pInputText formControlName='value' placeholder="Value">
                    </div>
                </div>
            </div>
        </div>
        
    </form-item>
    <form-item *ngIf="createVolumeForm.controls['tags']" label="{{label.tags}}">
        <a class="add-tag" (click)="addNextTag()"><i class="fa fa-plus-circle" ></i></a>
        <div class="tag-array" formArrayName="tags"
            *ngFor="let item of createVolumeForm.get('tags')['controls']; let i = index">
            <div class="ui-g ui-fluid" [formGroupName]="i">
                <div class="ui-g-12 ui-md-4">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='key' placeholder="Key">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-4 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <input type="text" pInputText formControlName='value' placeholder="Value">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2 ui-md-offset-1">
                    <div class="ui-inputgroup">
                        <a disabled="createVolumeForm.get('tags')['length'] > 1" class="remove-tag" (click)="removeTagLink(i)"><i class="fa fa-minus-circle"></i></a>     
                    </div>
                </div>
            </div>
        </div>
        
    </form-item>
    <div class="bottom-button-margin">
        <button type="submit" class="ui-button-secondary" pButton label="{{I18N.keyID['ok']}}" [disabled]="createVolumeForm.invalid"></button>
        <button type="button" pButton [routerLink]="['/block','fromCloudVolume']" label="{{I18N.keyID['cancel']}}"></button>
    </div>
</form>